
/* ==================================================================
## Awards Table subclass
===================================================================== */
	
.awards-table {

	&__table {

		/*@extend .tbl;*/
	}

		@include table-1-col {
			&__head 		{ display: table-row-group; }
			&__head-date,
			&__data-date 	{ display: none; }
			&__head-name,
			&__data-name	{  }
			&__head-icon,
			&__data-icon 	{ width: 10%;}
		}

		@include table-2-col {
			&__head 		{ display: table-row-group; }
			&__head-date,
			&__data-date 	{ width: 12%; }
			&__head-name,
			&__data-name	{  }
			&__head-icon,
			&__data-icon 	{ width: 14%;}
		}

		@include table-3-col {
			&__head 		{ display: table-row-group; }
			&__head-date,
			&__data-date 	{ width: 8%; }
			&__head-name,
			&__data-name	{  }
			&__head-icon,
			&__data-icon 	{ width: 9%;}
		}

		@include table-4-col {
			&__head 		{ display: table-row-group; }
			&__head-date,
			&__data-date 	{ width: 8%; }
			&__head-name,
			&__data-name	{  }
			&__head-icon,
			&__data-icon 	{ width: 9%;}
		}

		@include table-5-col {
			&__head 		{ display: table-row-group; }
			&__head-date,
			&__data-date 	{ width: 8%; }
			&__head-name,
			&__data-name	{  }
			&__head-icon,
			&__data-icon 	{ width: 9%;}
		}
}