/* ==================================================================
 *
 * Press Table Class
 *
 * Responsible for making press table responsive
 *
===================================================================== */

/* ==================================================================
## Config
===================================================================== */

/* ==================================================================
## Layout
===================================================================== */

.press-table {

	&__table {}

		@include table-1-col {
			&__head 					{ display: none; }
			&__data-publication-date 	{ display: none; }
			&__data-name				{ width: 70%; }
			&__data-publication 		{ display: none; }
			&__data-icon 				{ width: 30%;}
		}

		@include table-2-col {
			&__head 					{ display: none; }
			&__data-publication-date 	{ width: 17%; }
			&__data-name				{ width: 59%; }
			&__data-publication 		{ display: none; }
			&__data-icon 				{ width: 24%;}
		}

		@include table-3-col {
			&__head 					{ display: none; }
			&__data-publication-date 	{ width: 12%; }
			&__data-name				{ /**/ }
			&__data-publication 		{ display: none; }
			&__data-icon 				{ width: 17%;}
		}

		@include table-4-col {
			&__head 					{ display: table-row-group; }
			&__data-publication-date,
			&__head-publication-date 	{ width: 12%; }
			&__data-publication,
			&__head-publication 		{ width: 18%; }
			&__data-name,
			&__head-name				{ /**/ }
			&__data-icon,
			&__head-icon 				{ width: 16%; }
		}

		@include table-5-col {
			&__head 					{ display: table-row-group; }
			&__data-publication-date,
			&__head-publication-date 	{ width: 11%; }
			&__data-publication,
			&__head-publication 		{ width: 18%; }
			&__data-name,
			&__head-name				{ /**/ }
			&__data-icon,
			&__head-icon 				{ width: 15%; }
		}
}