

/* ==================================================================
## Projects Table subclass
===================================================================== */

.projects-table {

	&__header {
		.ribbon {
			/*@include tiny {
				height: 		$base-row2-height;
				line-height:  	$base-row2-height;
			}
			@include mobile {
				height: 		$base-row2-height;
				line-height:  	$base-row2-height;
			}*/
		}
	}

	&__table{}

		/*&__data-year{

			@include table-1-col	{ 	display:none;	}
			@include table-2-col	{ 	width: 10%;	}
			@include table-3-col	{ 	width: 9%;	}
		    @include table-4-col	{ 	width: 8%;	}
		    @include table-5-col	{	width: 7%;	}
		}

		&__data-city {

			@include table-1-col	{ 	display:none;	}
			@include table-2-col	{ 	display:none;	}
			@include table-3-col	{ 	width: 15%;	}
		    @include table-4-col	{ 	width: 15%;	}
		    @include table-5-col	{	width: 15%;	}
		}

		&__data-size {

			@include table-1-col	{ 	display:none;	}
			@include table-2-col	{ 	display:none;	}
			@include table-3-col	{ 	display:none;	}
		    @include table-4-col	{ 	width: 10%;	}
		    @include table-5-col	{	width: 10%;	}
		}

		&__data-type {

			@include table-1-col	{ 	display:none;	}
			@include table-2-col	{ 	display:none;	}
			@include table-3-col	{ 	display:none;	}
		    @include table-4-col	{ 	display:none;	}
		    @include table-5-col	{	width: 15%;	}
		}

		&__data-program {

			@include table-1-col	{ 	display:none;	}
			@include table-2-col	{ 	display:none;	}
			@include table-3-col	{ 	display:none;	}
		    @include table-4-col	{ 	display:none;	}
		    @include table-5-col	{	width: 15%;	}
		}

		&__data-name {
			
			@include table-1-col	{ 	width: 75%;	}
			@include table-2-col	{ 	width: 50%;	}
			@include table-3-col	{ 	width: 67%;	}
		    @include table-4-col	{ 	width: 41%;	}
		    @include table-5-col	{	width: 33%;	}
		}

		&__data-icon {

			@include table-1-col	{ 	width: 25%;	}
			@include table-2-col	{ 	width: 10%;	}
			@include table-3-col	{ 	width: 8%;	}
		    @include table-4-col	{ 	width: 7%;	}
		    @include table-5-col	{	width: 5%;	}			
		}*/

		@include table-1-col {
			&__head				{ display: table-row-group; }
			&__head-year,
			&__data-year 		{ width: 10%; }
			&__head-city,
			&__data-city 		{ display: none; }
			&__head-size,
			&__data-size 		{ display: none; }
			&__head-type,
			&__data-type 		{ display: none; }
			&__head-program,
			&__data-program 	{ display: none; }
			&__head-name,
			&__data-name 		{ /**/ }
			&__head-icon,
			&__data-icon 		{ display: none; }
		}

		@include table-2-col {
			&__head				{ display: table-row-group; }
			&__head-year,
			&__data-year 		{ width: 11%;	}
			&__head-city,
			&__data-city 		{ display: none; }
			&__head-size,
			&__data-size 		{ display: none; }
			&__head-type,
			&__data-type 		{ display: none; }
			&__head-program,
			&__data-program 	{ display: none; }
			&__head-name,
			&__data-name 		{ /**/ }
			&__head-icon,
			&__data-icon 		{ width: 10%; }
		}

		@include table-3-col {
			&__head				{ display: table-row-group; }
			&__head-year,
			&__data-year 		{ width: 9%;	}
			&__head-city,
			&__data-city 		{ display: none; }
			&__head-size,
			&__data-size 		{ display: none; }
			&__head-type,
			&__data-type 		{ display: none; }
			&__head-program,
			&__data-program 	{ display: none; }
			&__head-name,
			&__data-name 		{ /**/ }
			&__head-icon,
			&__data-icon 		{ width: 8%; }
		}

		@include table-4-col {
			&__head				{ display: table-row-group; }
			&__head-year,
			&__data-year 		{ width: 7%;	}
			&__head-city,
			&__data-city 		{ width: 14%; }
			&__head-size,
			&__data-size 		{ display: none; }
			&__head-type,
			&__data-type 		{ width: 14%; }
			&__head-program,
			&__data-program 	{ width: 14%; }
			&__head-name,
			&__data-name 		{ /**/ }
			&__head-icon,
			&__data-icon 		{ width: 5%; }
		}

		@include table-5-col {
			&__head				{ display: table-row-group; }
			&__head-year,
			&__data-year 		{ width: 20%; }
			&__head-city,
			&__data-city 		{ width: 11%; }
			&__head-size,
			&__data-size 		{ width: 11%; }
			&__head-type,
			&__data-type 		{ width: 11% }
			&__head-program,
			&__data-program 	{ width: 11%; }
			&__head-name,
			&__data-name 		{ /**/ }
			&__head-icon,
			&__data-icon 		{ width: 3%; }
		}

		/*@include full {*/

			&__data-name .icon,
			&__data-name .label { /* both */
				/*background: #f5f5f5;*/
				/*color: inherit;*/
				/*display: inline-block;*/
				/*height: $base-row4-height;
				line-height: $base-row4-height;*/	
				/*border-top: 1px solid white;*/
				/*-webkit-transition: background .5s;*/			
			}
			&__data-name .icon { /* icon */
			}
			&__data-name .label{ /* title */
				padding: 0 $base-button-pad;
			}
			tr:hover &__data-name .icon{ /* icon on hover */
				/*background: #eee;*/
				/*> i { color: white; }*/
				/*-webkit-transition: background .1s;*/
			}
			tr:hover &__data-name .label{ /* title on hover*/
				/*background: #eee;*/
				/*color: white;*/
				/*-webkit-transition: background .1s;*/
			}
			tr &__data-name .icon:hover { /* icon on hover */
				/*background: #666;
				> i { color: white; }*/
				/*-webkit-transition: background .1s;*/
			}
			tr &__data-name .icon:hover ~ .label{ /* title on hover*/
				background: $openorange-color;
				color: white;
				/*-webkit-transition: background .1s;*/
			}
		/*}*/
}

