/* ==================================================================
## Config
===================================================================== */	

/* button sizing is relative to container, ie. titlebar, toolbar, or tagline */



$button-base-font-size:		.8em;

$button-pad-horiz:			$base-button-pad-horiz;
$button-height:				$base-button-height;

$button-bg-color:			#f5f5f5; /*#f9f9f9;*/
$button-hover-bg-color:		#e5e5e5;

/* ==================================================================
## Main Content
===================================================================== */

.button{ /* button */

	/*font-size: 				$button-base-font-size;*/

	height: 				$button-height; /*35px;*/
	padding-left: 			$base-button-pad-horiz; /*prev 1em*/
	padding-right: 			$base-button-pad-horiz;
	margin-right: 			$base-button-spacing;
	/*margin-left:			$base-button-spacing;*/

	/*background:				$button-bg-color;*/

	&:hover{
		background:			$button-hover-bg-color;
	}
}
