/*
 * Card Component: 
 * A card has a title, some content, and some tags
 *
 * LAYOUT:
 *
 *
 *
 * CONTENT:
 *
 *
 *
 */

/* layout */

.card {

	border-top: 1px solid #e1e1e1;
}

	.card--title 	{	margin: $base-row-pad 0;	}
	.card--slide 	{	/**/	}
	.card--body p 	{	margin: $base-row-pad 0;	}
	.card--tags 	{	/**/	}



/* typogaphy */

.card {}

	.title.card--title {/**/}
	.body.card--body p{/**/}
	.tags.card--tags {/**/}



/* card types (ie. subclasses) */

.card.practice--card {}

.card.profile--card { 

	border: none;

	.card--body{
		margin-bottom: 50px;
	} 
}