/* ==================================================================
 *
 * Card Component: 
 *
 * A card has a title, some content, and some tags. It is responsible
 * for padding itself and spacing out its contents. Ideally card would
 * not know what its contents are, but for now, it does...
 *
 *
===================================================================== */

/* ==================================================================
## Config
===================================================================== */

$card-base-font-size:			1rem;
/*$card-body-font-size:			1em;*/


/* ==================================================================
## Layout
===================================================================== */

.card {

	/* border-top: 1px solid #e1e1e1; */

	/*padding: 	$base-row-pad*.2 0;*/ /* <-- magic number */

	&__header 	{		}
	&__slide 	{	/*margin: $base-title-spacing 0;*/	}
	&__body p 	{		}
	&__body--big p	{ /*margin: $base-row-pad $base-row-pad;*/ }
	&__footer 	{		}

}



/* ==================================================================
## Typography
===================================================================== */

.card {

	/* 	
		module-level styling
		typically only font-size is specified at module level
		and em sizing below it is relative to it
	*/
	font-size:				$card-base-font-size;

	overflow: hidden;
	padding: 0;

	/* clearfix */
	/*&:after {
		content: ""; 
	    display: table;
	    clear: both; 
	}*/

	&__item {

		overflow: hidden;

	}

	&__item--spaced 		{ margin: $base-spacing 0; }
	&__item--spaced-more 	{ margin: $base-spacing-big 0; }
	&__item--spaced-less 	{ margin: $base-spacing-sml 0; }
	&__item--spaced-most 	{ margin: $base-spacing-huge 0; }
	&__item--spaced-dbl		{ margin: $base-spacing*2 0; }
	&__item--spaced-most-top { margin: $base-spacing-huge 0 0 0; }

	&__header 	{	

		/*font-size: 		$card-title-font-size;*/
		/*line-height: 		$card-title-line-height;*/
		/*color: 			$card-title-font-color;*/
	}

	/*&__header--headline {

		text-decoration: 	underline;
		text-transform: 	uppercase;
	}*/

	&__slide 	{	

		img { /* moved to thumb */

			width:100%;
			height:auto;
		}
	}

	&__slide--small 	{	

		@include tiny   { width: 100% }
		@include mobile { width: 100% }
		@include narrow { width: 66% }
		@include wide   { width: 66% }
		@include wider  { width: 66% }
		@include widest	{ width: 75% }
		@include full	{ width: 75% }
	}

	&__slide--medium 	{	

		@include tiny   { width: 100% }
		@include mobile { width: 100% }
		@include narrow { width: 100% }
		@include wide   { width: 100% }
		@include wider  { width: 75% }
		@include widest	{ width: 75% }
		@include full	{ width: 75% }
	}

	&__body > p {

		/*font-size: 		$card-body-font-size;*/
		/*line-height: 		$card-body-line-height;*/
		/*color: 			$card-body-font-color;*/
		/*text-align:			justify;*/
	}

	/*&__body--big > p {

		font-size:			$card-body-font-size--big;
		line-height:		$card-body-line-height--big;
	}*/

	&__footer 	{	/**/	}
 
}

.card--10col {

	@include widest	{ 
		@include span(isolate 10 at 2 of 12);  
		float: none;
	}
}

.card--flag {

	/*.card__body { padding-right: $base-spacing; }
	background: #fafafa;*/

}

.card--postit {

	/*background: #f9f9f9;*/

	@include tiny   {  }
	@include mobile { width: 100%; }
	@include narrow { padding: 0; }
	@include wide   { padding: 0; }
	@include wider  { padding: 0; } /*padding: 0 ($base-spacing*.5);*/
	@include widest	{ padding: 0; }	
}

.card--subcard {

	font-size: .9rem;
}

.card--supercard {

	font-size: 1.1rem;
	/*padding: ($base-spacing*.5) 0;*/
}

/* ==================================================================
## card types (ie. subclasses) - CARD-GRID-3COL
===================================================================== */

/* 
 * card--task-main 
 */
@mixin card-layout-horiz { 

	@include span(isolate 12 at 4 of 18); 
	clear: left;
	float: none;
}

@mixin card-layout-vert { 

	padding: 0 gutter(13);
	clear: left;
	float: none;
}

@mixin card-type-3col { 
	
	> .card__header { 
		@include span(first 4 of 12); 
	}	
	> .card__body { 
		@include span(last 8 of 12); 
		float: right;  
	}
	> .card__footer { 
		@include span(last 8 of 12); 
		clear: right; 
		float: right; 
	}
}

@mixin card-type-4col { 

	> .card__header { 
		@include span(first 3 of 12); 
	}	
	> .card__body { 
		@include span(last 9 of 12); 
		float: right;  
	}
	> .card__footer { 
		@include span(last 9 of 12); 
		clear: right; 
		float: right; 
	}
}

@mixin card-type-12col	{ /* events, videos */

	.card__header h2 { 
		/*font-size: $base-h2-font-size;
		line-height: 1.67rem !important;*/
		/*margin-right: span(3 of 12);*/
	}

	.card__slide {
		@include span(isolate 10 at 2 of 12); float: none;
		margin-top: gutter(12);
		margin-bottom: gutter(12);
	}

	.card__body { 
		float: none; 
	}

	.card__footer { 
		float: none; 
	}
}

.card.manifesto {

	@include widest	{ 
		> .card__header { display: none; }
		> .card__footer { display: none; }  
		@include card-layout-vert;
		/*@include span(isolate 8 at 3 of 12); 
		float: none;*/
	} 
	@include full { 
		> .card__header { display: none; } 
		> .card__footer{ display: none; } 
		@include card-layout-horiz;
		/*@include span(isolate 8 at 3 of 12); 
		float: none;*/
	} 
}


.card.recent-news {

	@include widest	{ 
		> .card__header {  }
		> .card__footer { display: none; }  
		@include card-layout-vert;
		/*@include span(isolate 8 at 3 of 12); 
		float: none;*/
	} 
	@include full { 
		> .card__header {  } 
		> .card__footer{ display: none; } 
		@include card-layout-horiz;
		@include card-type-4col;
		/*@include span(isolate 8 at 3 of 12); 
		float: none;*/
	} 
}

/*.card.card--news {

	@include widest	{ @include span(isolate 8 at 3 of 12); } 
	@include full	{ @include span(isolate 8 at 3 of 12); } 
}*/

.card.task-main { /* card--basic */

	@include wider {
		/*@include span(first 9 of 12); clear: left;*/
	}
	@include widest	{ 
		@include card-layout-vert;
		@include card-type-3col;
		margin-bottom: $base-spacing-sml;
		margin-top: $base-spacing-sml;
	}
	@include full { 
		@include card-layout-horiz;
		@include card-type-3col;
		margin-bottom: $base-spacing-huge;
		margin-top: $base-spacing-huge;
	}
}

.card.task-relations-gallery {

	.card__footer{display:none;} 

	/*
	@include tiny   {  }
	@include mobile { }
	@include narrow { }
	@include wide   { }
	*/
	@include wider  {  
		@include card-type-4col;
	}
	@include widest	{ 
		@include card-layout-vert;
		@include card-type-4col;
		border-top: none;
		margin-bottom: $base-spacing-sml;
		margin-top: $base-spacing-sml;
	}
	@include full { 
		@include card-layout-horiz;
		@include card-type-4col;
		border-top: none;
		margin-bottom: $base-spacing-huge;
		margin-top: $base-spacing-huge;
	}
}

.card.factsheet {

	@include tiny   { > .card__header { display: none; } }
	@include mobile { > .card__header { display: none; } }
	@include narrow { > .card__header { display: none; } }
	@include wide   { /*> .card__header { display: none; }*/ }
	@include wider  {  
		@include card-type-4col;
	}
	@include widest	{ 
		@include card-layout-vert;
		@include card-type-4col;
		border-top: none;
		/*margin-bottom: $base-spacing-sml;
		margin-top: $base-spacing-sml;*/
	}
	@include full { 
		@include card-layout-horiz;
		@include card-type-4col;
		border-top: none;
		/*margin-bottom: $base-spacing-sml;*/
		margin-top: $base-spacing-sml;
	}

}

.card.facts {

	/*.card__item { float: none; }*/
}

.card.practice {

	&__slideshow {}
	&__main {

		@include widest	{ 
			margin-top: $base-spacing-huge;
			@include card-layout-vert;
			@include card-type-4col;
		}
		@include full { 
			margin-top: $base-spacing-huge;
			@include card-layout-horiz;
			@include card-type-4col;
		}
	}
}

.card.people {

	@include widest	{ 
		@include card-layout-vert;  
		float: none;
	} 
	@include full	{ 
		@include card-layout-horiz;  
		float: none;
	} 
}

.card.press,
.card.awards,
.card.projects-table {

	@include widest	{ 
		@include card-layout-vert;  
		float: none;
	} 
	@include full	{ 
		/*@include card-layout-horiz;  
		float: none;*/
	} 
}

.card.projects-gallery {

	@include widest	{ 
		@include card-layout-vert;  
		float: none;
	} 
	@include full	{ 
		
	} 
}

.card.toolbar {

	@include widest	{ 
		@include card-layout-vert;  
		float: none;
	} 
	@include full	{ 
		
	} 
}

.card.main-header,
.card.main-footer {

	overflow: visible; /* don't hide dropdown submenu */

	@include widest	{ 
		@include card-layout-vert;  
		clear: left;
	} 
	@include full { 
		
	} 
}

.card.nameplate {
	
}

.card.events,
.card.videos {
	@include widest	{ @include card-layout-vert; }
	@include full { @include card-layout-horiz; }
}

.card.event,
.card.video {
	@include widest	{ @include card-type-12col; }
	@include full { @include card-type-12col; }
}

.card.task-slideshow {
	@include widest	{ /*@include card-layout-vert;*/ }
	@include full { }	
}

.card.video-player {

	/*overflow: hidden;*/
    /*background: #333;*/
	@include widest	{/* @include card-layout-vert;*/  } 
	@include full	{ @include card-layout-horiz;  } 
}

.card.jobs,
.card.contact-info {

	@include widest	{ @include card-layout-vert;  } 
	@include full	{ @include card-layout-horiz;  } 
}

.card.job {}

/* ==================================================================
## card types (ie. subclasses) - CARD--XXX
===================================================================== */

.card.profile--card { 
	border: none;
}


/*.card.relation {}*/

.card.relation {

	/*clear: both;*/
	/*overflow: auto;*/

	background: white;

	.relation__thumb {

		@include wide	{ width: span(3 of 9); margin-right: gutter(9); }
		@include wider	{ width: span(3 of 9); margin-right: gutter(9); }
		@include widest	{ width: span(3 of 9); margin-right: gutter(9); }
		@include full	{ width: span(3 of 9); margin-right: gutter(9); }
	}

	.relation__header {}

	.relation__body { padding-right: $base-button-height-big; }
	
	.relation__footer { display: none; }

}

.card.card--moremenu {

	@include tiny   { display: none; }
	@include mobile { display: none; }
	@include narrow { display: none; }
	@include wide   { display: none; }
	@include wider  { display: none; }
	@include widest	{ 
		@include span(isolate 8 at 3 of 12); 
		float: none;
	} 
	@include full	{ 
		@include span(isolate 8 at 3 of 12); 
		float: none;
	} 
}


	
.card.card--featured-work {

	overflow: visible;
	position: relative;
	z-index: -1;

	@include widest	{ 
		
		.slideshow__image img {
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: auto;
			min-height: 100%;
		}

		.slideshow__caption {
			position: fixed;
			bottom: 0;
			left: 0;
		}
	}
	@include full	{ 
		/*.slideshow__caption {display: none;}*/
		.slideshow__image img {
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: auto;
			min-height: 100%;
		}

		.slideshow__caption {
			position: fixed;
			bottom: 0;
			left: 0;
		}
	}
}





/* ==================================================================
## Dev
===================================================================== */

.card {
	/*background-color: #f5f5f5;*/
}