/*.footer--sitename,*/
#block-sitebranding>.sitename 	{	margin: $base-row-pad 	0
											100px	0;	}

.footer--menus			{	margin: $base-row-pad 0;	}
.footer--searchbar		{	margin: $base-row-pad 0;	}

/* ==================================================================
## Footer
===================================================================== */

.main-footer>.region{

	background: #333;

	/*span, a, a:link, a:visited{
		font-size: $menu-font-size;
		color: $menu-font-color;
		text-decoration:none;
	}
	h2{
		display:none;
	}*/
}