/* ==================================================================
 *
 * Gallery
 *
===================================================================== */

/*@mixin gallery-list{

    @include clearfix;
    @include layout((
        gutter-position: before,
        columns: 4,
        gutters: 3/16,
        global-box-sizing: border-box
    ));

}

@mixin gallery-list-item{

    @include gallery(2 of 4);
    margin-bottom: gutter(4);
}*/

.gallery {}

	.gallery--container{

		@include gallery-container;

		/*@include tiny{		@include gallery-container-1-col;	}
		@include mobile{	@include gallery-container-2-col;	}
		@include narrow{	@include gallery-container-3-col;	}
		@include wide{		@include gallery-container-3-col;	}
		@include wider{		@include gallery-container-3-col;	}*/
	}

	.gallery--item{

		/*background:#999;*/

		@include tiny{		@include gallery-item-1-col;	}
		@include mobile{	@include gallery-item-2-col;	}
		@include narrow{	@include gallery-item-3-col;	}
		@include wide{		@include gallery-item-3-col;	}
		@include wider{		@include gallery-item-4-col;	}
		@include widest{		}

		> img{

			width:100%;
			height:auto;
		}
	}

/* ==================================================================
 *
 * Relations Gallery
 *
===================================================================== */

.relations-gallery {


	/*ul*/.gallery--container{

		/* overrides */
	}

		/*li*/.gallery--item{

			/* overrides */

			/*@include widest{	@include gallery-item-4-col; }*/
				
		}
	
}

/* ==================================================================
 *
 * Projects Gallery
 *
===================================================================== */

.projects-gallery {


	/*ul*/.gallery--container{

		/* overrides */
	}

		/*li*/.gallery--item > img{

			/* overrides */
			width:100%;
			height:auto;
		}
	
}

/* ==================================================================
 *
 * Factsheet Gallery
 *
===================================================================== */

/* .factsheet-gallery */
#main-content-facts {

	/*.factsheet-gallery-container {*/
	.region {

		/*@include gallery-list;*/
		@include gallery-container;
	}

		/*li.*//*.factsheet-gallery-item{*/
		.block {

			/*@include gallery-list-item;*/

			@include tiny{		@include gallery-item-1-col;	}
			@include mobile{	@include gallery-item-2-col;	}
			@include narrow{	@include gallery-item-3-col;	}
			@include wide{		@include gallery-item-3-col;	}
			@include wider{		@include gallery-item-4-col;	}
			@include widest{	@include gallery-item-4-col;	}
		}

}