/* ==================================================================
 *
 * Gallery
 *
===================================================================== */

/*@mixin gallery-list{

    @include clearfix;
    @include layout((
        gutter-position: before,
        columns: 4,
        gutters: 3/16,
        global-box-sizing: border-box
    ));

}

@mixin gallery-list-item{

    @include gallery(2 of 4);
    margin-bottom: gutter(4);
}*/

.gallery {

	&__container { /*ul*/

		@include gallery-container;

	}

		&__item { /*li*/

			@include tiny{		@include gallery-item-2-col;	}
			@include mobile{	@include gallery-item-2-col;	}
			@include narrow{	@include gallery-item-3-col;	}
			@include wide{		@include gallery-item-3-col;	}
			@include wider{		@include gallery-item-3-col;	}
			@include widest{	@include gallery-item-6-col;	}		
		}

}

/* ==================================================================
 *
 * Relations Gallery
 *
===================================================================== */

.galleryRelations.gallery {

	.gallery {

		&__container{

			/* overrides */
		}

			&__item{

				/* overrides */
				@include wide	{ 

					@include gallery-item-1-col;
					clear: left !important;
					/*margin: 0;
					width: 100%;
					float: none; */
					/*margin-bottom: gutter(12);*/
				}

				@include wider	{ 

					@include gallery-item-1-col;
					clear: left !important;
					/*margin: 0;
					width: 100%;
					float: none; */
					/*margin-bottom: gutter(12);*/
				}

				@include widest	{ 

					/*clear susy*/
					/*margin: 0;
					width: 100%;
					float: none; */
					@include gallery-item-1-col;
					clear: left !important;
				}
					
			}

			/*&__item:last-child {
				margin-bottom: 0;
			}*/

			/* all elements in last row */
			/*&__item:nth-child(Xn+1):nth-last-child(-n+X),
				&__item:nth-child(Xn+1):nth-last-child(-n+X) ~ li {
			    	margin-bottom: 0;
			}*/

			&__item--alt{

				/* overrides */
				@include wider	{ 

					@include gallery-item-2-col;
					/*margin: 0;
					width: 100%;
					float: none; */
					/*margin-bottom: gutter(12);*/
				}

				@include widest	{ 

					/*clear susy*/
					/*margin: 0;
					width: 100%;
					float: none; */
					@include gallery-item-3-col;
				}
					
			}
	}


	
}

/* ==================================================================
 *
 * Projects Gallery
 *
===================================================================== */

.projects-gallery {


	/*ul*/.gallery--container{

		/* overrides */
	}

	.gallery--item {

		@include tiny{		@include gallery-item-2-col;	}
		@include mobile{	@include gallery-item-2-col;	}
		@include narrow{	@include gallery-item-3-col;	}
		@include wide{		@include gallery-item-3-col;	}
		@include wider{		@include gallery-item-3-col;	}

		@include widest{	
			@include with-layout(12 1/2) {
  				@include gallery-item-6-col;
			}
		}
	}


		/*li*/.gallery--item > img{

			/* overrides */
			width:100%;
			height:auto;
		}
	
}

/* ==================================================================
 *
 * Factsheet Gallery - old
 *
===================================================================== */

/* .factsheet-gallery */
#main-content-facts {

	.factsheet-gallery-container {
	/*.region {*/

		@include gallery-container;

		/*@include layout((
	        gutter-position: before,
	        columns: 12,
	        gutters: 1/4, 
	        global-box-sizing: border-box
	    ));
	    margin-top: gutter(12);*/
	}

		/*li.*//*.factsheet-gallery-item{*/
		.block {

			/*@include gallery-list-item;*/

			@include tiny{		@include gallery-item-2-col;	}
			@include mobile{	@include gallery-item-2-col;	}
			@include narrow{	@include gallery-item-3-col;	}
			@include wide{		@include gallery-item-3-col;	}
			@include wider{		@include gallery-item-3-col;	}
			@include widest{	@include gallery-item-3-col;	}
		}

}


/* ==================================================================
 *
 * Factsheet Gallery - new
 *
===================================================================== */

.galleryFactsheet.gallery {

	.gallery {

		&__container{


		}

			&__item{

	
			}
	}
	
}