/* ==================================================================
 *
 * headlines card 
 *
===================================================================== */


/* ==================================================================
## Config
===================================================================== */	

$headlines-base-font-size:		1rem;
$headline-font-size: 			0.8em;
$headline-line-height: 			1.1;


/* ==================================================================
## Layout
===================================================================== */

.headlines {

	&__title 		{	
		margin: 			$base-row-pad 0;	
	}

	&__headline 	{	
		/*margin: 			$base-row-pad 0;*/	
	    border-bottom: 		1px solid #f1f1f1;
		padding: 			$base-row-pad 0;

		&:hover{
			background: 	#e5e5e5;
		}
	}

	&__more 		{	
		margin-top: 		$base-row-pad;	
	}
}

/* ==================================================================
## Typography
===================================================================== */

.headlines {

	&__title {

		/* title subclass overrides */
	}

	&__headline { 

		a, a:link, a:visited {

			font-size: 			$headline-font-size;
			line-height: 		$headline-line-height;
			color: 				$headline-font-color;
			text-decoration: 	underline;
		}
	}

	&__more {

		/* more link subclass overrides */
	}
}

/* ==================================================================
## Debug
===================================================================== */	

/*.headlines {

	border: 1px solid red;	
	
	&__title 	{	background: #e5e5e5;	}
	&__headline	{	background: #e5e5e5;	}
	&__more 	{	background: lightgrey;	}

}*/