/* ==================================================================
## Menubar (Page Header)
===================================================================== */

.icon--container {}

	.icon {
		a {

			/* debug */
			/*background: lightgrey;*/

			text-align:center;
			font-size: $icon-font-size;
			color: $menu-font-color;
			text-decoration:none;
			
			&:hover {
				text-decoration: none;
				background: #e5e5e5;
			}
		}
	}

