
/* ==================================================================
## icon Config
===================================================================== */

/* sizing relative to containter, ie titlebar, toolbar, or tagline */

$icon-size:						$base-button-height;
$icon-size--sml:				$base-icon-height;
$icon-spacing:					0; /*.5em;*/
$icon-color:					#555;
$icon-color-hover:				$openorange-color;
$icon-bg-color:					none; /*#f9f9f9;*/
$icon-hover-bg-color:			#e5e5e5;

/* ==================================================================
## Type
===================================================================== */

.icons {

	/* apply global icon sizing, change to px to make size non-responsive */
	font-size:	1rem;

	&__container {

		/* handle item overflow here*/
	}

		&__item {

			float:						right; /* fill container right to left */
		}
}

			.icon { /*a*/

				display: 				inline-block; /* height/width only work on a-link if inline-block */

				height:					$icon-size;
				line-height: 			$icon-size;
				width:					$icon-size;
				margin-left: 			$icon-spacing;

				text-align:				center; /* horiz align img */

				background: 			$icon-bg-color;

				i {	
					color: 				$icon-color;
				}

				&:hover {
					/*background: 		$icon-hover-bg-color;*/

					> i { color: 		$icon-color-hover; }
				}

				&.active {

					> i { color: 		black; }
				}


				/*a {
					display: 				inline-block;

					height:					$icon-size;
					line-height: 			$icon-size;
					width:					$icon-size;
					margin-left: 			$icon-spacing;

					text-align:				center; 
					background: 			$icon-bg-color;
					
					&:hover {
						background: 		$icon-hover-bg-color;
					}
				}*/
				
				
			}

			.icon--pull-left {
				margin-left: $icon-size*(-0.33);
			}

			.icon.icon--white {

				> i { color: 		#ddd; }

				&:hover {

					> i { color: 		white; }
				}
			}

			.icon.icon--ltgrey {

				> i { color: 		#eee; }

				&:hover {

					> i { color: 		black; }
				}
			}

			.icon.icon--white-on-orange {

				background: 		$openorange-color;
				> i { color: 		#ddd; }

				&:hover {

					background: 	$openorange-color;
					> i { color: 	white; }
				}
			}

			.icon--img {

				img {
					vertical-align: 	middle; /* vertical align img */
					/*height: 100%*/
					width: initial;
					height: auto;
				}
			}

			.icon--fa {

				/*i {
					color: #333;

					&:hover{
						color: black;
					}
				}*/
			}

			.icon--mat {

				i {

					/*font-size: 24px;*/
					font-size: inherit;
					vertical-align: middle;
					line-height: inherit; /* override material-icons line-height that bumps vertical alignment down */
				}
			}



			.icon--rss {

				font-size: .8em;
			}

			/*.icon--img {}
			.icon--mat {}
			.icon--fa {}*/

			.icon--collapsed {

					height:					$icon-size--sml;
					line-height: 			$icon-size--sml;
					width:					$icon-size;	
			}

			.icon--button-sml {
				height:					$base-button-height-sml;
				line-height: 			$base-button-height-sml;
				width:					$base-button-height-sml;
			}

			.icon--button-big {
				height:					$base-row2-height;
				line-height: 			$base-row2-height;
				width:					$base-button-height-big;
			}

			.icon--sml {
				font-size: .9em;
				/*height:					$base-button-height-sml;
				line-height: 			$base-button-height-sml;
				width:					$base-button-height-sml;*/
			}

			.icon--smlr {
				font-size: .8em;
			}

			.icon--big {
				font-size: 1.2em;
			}

			.icon--bigr {
				font-size: 1.4em;
			}

			/* titlebox icons use this for now */
			.icon--fit {
				
				img {
					height: 100%;
					width: auto;
				}
			}

			.icon--dropdown {

				position: absolute;
				top:0;
				left:0;
			}


/* ==================================================================
## icon gallery
===================================================================== */

$icongal_base_font_size:	.65rem;
$icongal_button_height:		$base_row_height;
$icongal_icon_size:			1.2em;

.icongallery-wrapper {
	display: inline-block;
	width: 100%;
	vertical-align: middle;
}

.icongallery {

	font-size:		$icongal_base_font_size;

	&__container{

		@include layout((
	        gutter-position: 	before,
	        columns: 			4,
	        gutters: 			0,
	        global-box-sizing: 	border-box
    	));
	}

	&__item {

		@include 		gallery(1 of 4);
		line-height: 	$icongal_button_height;

		> a {	

			display: 				inline-block;
			height:					100%;
			width:					100%;
			text-align:				center; /* horiz align img */
			background: 			$icon-bg-color;
			
			&:hover {

				> i { color: 		$icon-color-hover; }
			}

			> img {
				vertical-align: 	middle; /* vertical align img */
			}

			> i {
				font-size:			$icongal_icon_size;
				color: 				$icon-color;
				vertical-align:  	middle;
			}


		}	
	}
}


				

				

/* ==================================================================
## temp
===================================================================== */

.material-icons{
	font-size: 18px;
}