/* ==================================================================
 *
 * menubar
 *
 * 
 *
===================================================================== */

/* ==================================================================
## Config
===================================================================== */

$menubar-base-font-size:	1rem;
$menubar-height:			$base-row-height;

/* ==================================================================
## Layout
===================================================================== */

/* wrapper for menubar regions */
.menubar {

	font-size: 				$menubar-base-font-size;
	
	height: 				$menubar-height;
	line-height: 			$menubar-height;

	/*
		Fix menubar to top of screen
	*/
	width:					100%;
	position:				fixed;
	top:					0;
	left:					0;
	z-index:				100;
	background:				white;

}

	.menubar-header{

	}

	.menubar-primary{
		/*display:none;*/
	}

	.menubar-secondary{

	}

