/*
 * Menubar Component
 *
 * LAYOUT:
 *
 *
 *
 * CONTENT:
 *
 *
 *
 */

/* wrapper for menubar regions */
.menubar {

	width:100%;
	position:fixed;
	top:0;
	left:0;
	z-index:100;
	background:white;

}

	.menubar-header{

		a, a:link, a:visited{
			display: block;
			height: $base-row-height;
			line-height: $base-row-height;
		}

		a:hover{
			text-decoration: none;
		}
		
	}

	.menubar-primary{
		/*display:none;*/
	}

	.menubar-secondary{
		
		/* debug */
		background: #f5f5f5;

		a, a:link, a:visited{
			display: inline-block;
			line-height: $base-row-height;
			height: $base-row-height;
			width: $base-row-height;
			float:right;
		}

		a:hover{
			text-decoration: none;
		}

	}

