/* ==================================================================
 *
 * menubar
 *
 * 
 *
===================================================================== */

/* ==================================================================
## Config
===================================================================== */

$menubar-base-font-size:	1rem;
$menubar-wide-font-size:	.75em;
$menubar-row-height:		$base-row-height*1.2;
$menubar-width:				100%;

/* ==================================================================
## Layout
===================================================================== */

/* wrapper for menubar regions */
.menubar {

	font-size: 				$menubar-base-font-size;
	line-height: 			$menubar-row-height;
	background-color:  		white;
	
	/*@include layout($susy);*/
	@include layout((
		gutter-position: 	inside,
		columns: 			4,
		gutters: 			3/8,
		global-box-sizing: 	border-box
	));

	width:				$menubar-width;
		height: 			$menubar-row-height;

		&__header{
			@include 		span(2 of 4);
			float:			left;
		}

		&__primary{
			display:		none;
		}

		&__secondary{
			@include 		span(2 of 4 last);
			float:			right;
		}
}


	
/* ==================================================================
## Debug
===================================================================== */	

/*.menubar {

	border: 1px solid red;	
	
	&__header 		{	background: #f5f5f5;	}
	&__primary		{	background: #e5e5e5;	}
	&__secondary 	{	background: lightgrey;	}

}*/

