.pager { /* nav */

	display: inline-block;

	&__items { /* ul */

	}
		&__item { /* li */

			float: left;

			> a {

				/*display: 				inline-block;*/ 
				padding-left: 			$base-button-pad-horiz; /*prev 1em*/
				padding-right: 			$base-button-pad-horiz;
				/*color: 					inherit;*/

			}

			&:hover {

				> a { /*color: 			$openorange-color;*/ }
			}

			&.is-active {

				> a { 
					/*color: 				inherit;*/ 
					text-decoration: 	underline;
				}
			}
		}
	
}