.peekable { /* peekable-contents */

	/* hide checkbox */
	input[type='checkbox'] {
	 	display: none; 
	}

	/*input[type='checkbox'] ~ label:hover i{
		color: black;
	}*/

	/*.peekable-target {

	}*/

	.peekable-contents {
		/*display: none;*/
		transition: top 0.3s, opacity 0.3s;
	}

	input[type='checkbox'] ~ label > .peekable-toggle {
		/*display: none;*/
		/*max-height: 700px;*/
	}
	input[type='checkbox']:checked ~ label > .peekable-toggle {
		/*max-height: 0;*/
	}
	input[type='checkbox'] ~ .peekable-contents{
		/*display: none;*/
		top: 0;
		opacity: 0;
		/*max-height: 700px;*/
		
	}
	input[type='checkbox']:checked ~ .peekable-contents{
		/*max-height: 0;*/
		/*display: inherit;*/
		top: -$tbar-height;
		opacity: 1;

		/*@include full {
			top: $tbar-height;
			opacity: 1;
		}*/
	}

	input[type='checkbox'] ~ .peekable-contents *{
		pointer-events: none;		
	}
	input[type='checkbox']:checked ~ .peekable-contents *{
		pointer-events: initial;		
	}

	input[type='checkbox'] ~ label .unchecked {
		display: inline-block;
	}
	input[type='checkbox'] ~ label .checked {
		display: none;
	}
	input[type='checkbox']:checked ~ label .checked {
		display: inline-block;
	}
	input[type='checkbox']:checked ~ label .unchecked {
		display: none;
	}
	
}