

/* ==================================================================
## Projects Table subclass
===================================================================== */

.projects-table {}

	table {}

		td.data.projects--year {
			width: $table-col1-width;
		}

		td.data.projects--name {
			width: $table-col2-width;
		}

		td.data.projects--year {
			width: $table-col3-width;
		}


/* ==================================================================
## Awards Table subclass
===================================================================== */

.title.awards--title {

	/*margin-bottom: $base-row-pad * 2;*/
	width: 50%;

	h2, a {
/*		text-transform: uppercase;
		text-decoration: none;*/
		font-size: $table-title-font-size;
		line-height: $table-title-line-height;
		color: $table-title-font-color;
	}

}

.awards {

	margin-bottom: 50px;

	table {}

		caption {
			text-align: right;
			/*border-bottom: 1px solid #999;*/
		}

		caption > time {

			font-size: $title-font-size;
			line-height: $title-line-height;
			color: $title-font-color;
		}
}

		tr {}

		td.data.awards--name {
			width: 90%;
		}
	

/* ==================================================================
## Press Table subclass
===================================================================== */

.press-table {}

	table {}

		/*td*/.data.press--year {
			width: $table-col1-width;
		}

		/*td*/.data.press--name {
			width: $table-col2-width;
			text-align: right;
		}

		/*td*/.data.press--icon {
			width: $table-col3-width;
		}
