/* ==================================================================
 *
 * searchbar
 *
 * 
 *
===================================================================== */

/* ==================================================================
## Config
===================================================================== */

$searchbar-base-font-size:      1.1rem; /*$base-h3-font-size;*//*1rem;*/
$searchbar-input-height:        $base-row1-height; /*40px;*/
$searchbar-width:               100%;

$searchbar-input-bg-color:      #f7f7f7;
$searchbar-input-bg-color-inv:  #333;
$searchbar-hover-bg-color:      #e5e5e5;
$searchbar-icon-color:          inherit;
$searchbar-input-color:         inherit;
$searchbar-placeholder-color:   inherit;

$searchbar-input-font-size:     $h3-font-size;

/* ==================================================================
## Layout
===================================================================== */
 
.searchbar-wrapper{ 
  /*vertical-align:   middle;*/
  width: 100%;
}
 
.searchbar{              

  display:                  inline-block;
  height:                   $searchbar-input-height;
  line-height:              $searchbar-input-height;
  width:                    100%;
  vertical-align:           middle;
  white-space:              nowrap;
  position:                 relative;

  &__icon{
    
    display:                inline-block;
    position:               absolute;
    height:                 $searchbar-input-height;
    line-height:            $searchbar-input-height;
    margin-left:            12px;     /* nudge icon off edge */
    z-index:                1;
    /*color:                  $searchbar-icon-color;*/
    float:                  left;
  }

  &__icon > i {

    font-size:              .75rem;
    vertical-align:         middle;
  }

  &__input {

    width:                  100%;
    display:                inline-block;
    height:                 $searchbar-input-height;
    line-height:            $searchbar-input-height;
    vertical-align:         middle;

  }

  &__input > input#search{

      font-family:            $base-font-family !important;
      font-size:              $searchbar-input-font-size !important;
      color:                  $searchbar-input-color !important;
      /*font-weight:           bold !important;*/
      border:                 none !important;
      
      width:                  100%;
      line-height:            $searchbar-input-height;
      background:             inherit; 
      float:                  left;
      
      padding-left:           gutter(3.5 1);

      @include full {
        padding-left:         gutter(3.5 1) *.5;
      }

      -webkit-border-radius:  5px;
      -moz-border-radius:     5px;
      border-radius:          5px;

      /*@include tiny   { background: $searchbar-input-bg-color-inv; }
      @include mobile { background: $searchbar-input-bg-color-inv; }
      @include narrow { background: $searchbar-input-bg-color-inv; }
      @include wide   {}
      @include wider  {}*/
  }

  /* remove glowing blue border on focus */
  &__input > input:focus {
    outline:none;
  }

  /* remove input "x" reset button */
  &__input > input[type=text]::-ms-clear {  display: none; width : 0; height: 0; }
  &__input > input[type=text]::-ms-reveal {  display: none; width : 0; height: 0; }
  &__input > input[type="search"]::-webkit-search-decoration,
  &__input > input[type="search"]::-webkit-search-cancel-button,
  &__input > input[type="search"]::-webkit-search-results-button,
  &__input > input[type="search"]::-webkit-search-results-decoration { display: none; }

  /* placeholder text color */
  &__input > input#search::-webkit-input-placeholder {
     color: $searchbar-placeholder-color;
  }
  &__input > input#search:-moz-placeholder { 
     color: $searchbar-placeholder-color;  
  }
  &__input > input#search::-moz-placeholder {  
     color: $searchbar-placeholder-color;  
  }
  &__input > input#search:-ms-input-placeholder {  
     color: $searchbar-placeholder-color;  
  }

}

.searchbarSidebar.searchbar {

    &__icon{
    
    }

    &__input {

    }

    &__input > input#search{

    }
}