/* ==================================================================
## Menubar (Page Header)
===================================================================== */

.sitename {

	/*white-space: nowrap;
  	overflow: hidden;
  	text-overflow: ellipsis;*/

	a{
		font-size: 			$sitename-font-size;

		display:			inline-block;
		height:				2.75em;
		line-height: 		2.75em;
		
		font-weight: 		bold;	
		text-transform: 	uppercase;
		color: 				$openorange-color;
		text-decoration:	none;
	}

	a:hover{

		text-decoration: none;
	}

	img {
		
		width: auto;
		vertical-align: middle;

		@include tiny {
			height: 20px;
		}

		@include mobile {
			height: 25px;
		}

		@include narrow {
			height: 30px;
		}

		@include wide {	
			height: 30px;
		}

		@include wider {	
			height: 35px;
		}

		@include widest {	
			height: 35px;
		}


	}
}

.footer .sitename {

	a{
		
		font-weight: normal;
		font-size: $sitename-font-size;
		text-transform: uppercase;
		color: lightgrey;
		text-decoration:none;
	}
}