.visor {

	/*@include tiny {*/
		-webkit-transform: translateY(0);
		transform: translateY(0);
		-webkit-transition: .3s ease transform;
		transition: .3s ease transform;
	/*}*/
}
.visor.up {

	/*@include tiny {*/
		-webkit-transform: translateY(-100%);
	  	transform: translateY(-100%);
	/*}*/
}

.slider {

	> .slider-screen {
		z-index:			1500;
		position: 			fixed;
		top:				0;
		left:				0;
		width:				100%;
		height:  			100vh;
		pointer-events:  	none;
	}

	/*@include layout((
		gutter-position: 	inside-static,
		columns: 			12, 
		gutters: 			1,
		global-box-sizing: 	border-box,
		debug: (
		    image: show-columns,
		    color: rgba(#AEEFF2, .15),
		    output: overlay,
		    toggle: top right,
	    ),
	));*/

	@include tiny {}
	@include mobile {}
	@include narrow {}
	@include wide {}
	@include wider {}
	@include widest {}
	@include full {}

	> .slider-drawer {

		@include tiny {
			width:			75%;
			-webkit-transform: translateX(-100%);
			transform: translateX(-100%);
			-webkit-transition: .3s ease all;
			transition: .3s ease all;
		}

		@include mobile {
			width:			50%;
			-webkit-transform: translateX(-100%);
			transform: translateX(-100%);
			-webkit-transition: .3s ease all;
			transition: .3s ease all;
		}

		@include narrow {
			width:			33%;
			-webkit-transform: translateX(-100%);
			transform: translateX(-100%);
			-webkit-transition: .3s ease all;
			transition: .3s ease all;
		}

		@include wide {
			/*width:			25%;*/
			width: span(3 of 13 wide);
			-webkit-transform: translateX(0);
			transform: translateX(0);
			-webkit-transition: 0 ease all;
			transition: 0 ease all;
		}

		@include wider {
			/*width:			20%;*/
			width: span(3 of 16 wide);
			-webkit-transform: translateX(0);
			transform: translateX(0);
			-webkit-transition: 0 ease all;
			transition: 0 ease all;

			/*width: 192px;*/ /* 0.2 x 1200 */
		}

		@include widest {
			width:			15%; /*240px;*/
			-webkit-transform: translateX(0);
			transform: translateX(0);
			-webkit-transition: 0 ease all;
			transition: 0 ease all;
		}

		@include full {
			width:			15%; /*240px;*/
			-webkit-transform: translateX(0);
			transform: translateX(0);
			-webkit-transition: 0 ease all;
			transition: 0 ease all;
		}

	}

	> .slider-canvas {

		@include tiny {
			margin-left: 0;
			width:	100%;
		}

		@include mobile {
			margin-left: 0;
			width:	100%;
		}

		@include narrow {
			margin-left: 0;
			width:	100%;
		}

		@include wide {
			margin-left: 25%;
			width:	75%;

			margin-left: span(3 of 13 wide);
			width: span(10 of 13);
		}

		@include wider {
			/*margin-left: 20%;
			width:	80%;*/

			/*margin-left: 192px;
			width: 768px;*/

			margin-left: span(3 of 16 wide);
			width: span(13 of 16);
		}

		@include widest {
			/*margin-left: 15%;
			width:	85%;*/

			/*margin-left: 240px;
			width:	960px;*/
			
			/*width: 1200px;*/
			width: 100%;
			/*margin: 0 auto;*/
		}

		-webkit-transition: 	width 0 ease, 
								margin-left 0 ease;
		transition: 			width 0 ease, 
								margin-left 0 ease;
	}
}


.close {

	> .slider-screen {
		
		pointer-events: none;
	}

	> .slider-drawer {

		-webkit-transform: translateX(-100%);
		transform: translateX(-100%);

	}

	> .slider-canvas {

		margin-left: 0;
		width:	100%;

		@include wider {

			margin-left: span(3 of 16 wide);
			width: span(13 of 16);
		}

		@include widest {
			/*width: 1200px;*/
			/*margin: 0 auto;*/

			width: 100%;
		}

		@include full {
			/*width: 1200px;*/
			/*margin: 0 auto;*/

			width: 100%;
		}

	}
}

.open {

	> .slider-screen {

		@include tiny 	{ pointer-events: all; }
		@include mobile { pointer-events: all; }
		@include narrow { pointer-events: all; }
		
	}

	> .slider-drawer { 

		-webkit-transform: translateX(0);
	  	transform: translateX(0);

	}

	> .slider-canvas {

		// margin-left: 25%;
		// width: 75%;

		@include tiny {
			// margin-left: 0;
			// width: 100%;
		}

		@include mobile {
			// margin-left: 0;
			// width: 100%;
		}

		@include narrow {
			// margin-left: 0;
			// width: 100%;
		}

		@include wide {
			margin-left: 25%;
			width:	75%;
		}

		@include wider {
			margin-left: 20%;
			width:	80%;
		}

		@include widest {
			margin-left: 15%;
			width:	85%;
			/*argin-left: 240px;
			width:	960px;*/
		}

		@include full {
			margin-left: 15%;
			width:	85%;
			/*argin-left: 240px;
			width:	960px;*/
		}

	}
}