/* ==================================================================
 *
 * Table Base Style
 *
 * Perhaps this should be moved to _base.scss
 *
===================================================================== */

/*.views-table {*/

table {

	width:100%;
	display:table;
	table-layout:fixed;
}

	thead {
		
		display: none;
	}

	tbody {

		font-size: $table-font-size;
		text-transform: uppercase;	
	}

	tr {

		border-top: 1px solid #e1e1e1;	

		&:hover {
			background-color: #f5f5f5;
		}	
	}

	td {
		/*display: block;*/
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	/* make links in cells easily selectable */
	td > a,
	td > span,
	td > time {

		display: block;
		height: $table-row-height;
		line-height: $table-row-height;

		text-decoration: none;
		color: $table-font-color;
	}

	/*td*/.data.data--left {
		float:left;
		text-align:left;
	}

	/*td*/.data.data--right {
		float:right;
		text-align:right;
	}
