/* ==================================================================
 *
 * Table Base Style
 *
 * Perhaps this should be moved to _base.scss
 *
===================================================================== */

/* ==================================================================
## Config
===================================================================== */

$table-base-font-size:			1rem;
$table-head-font-size: 			$base-h7-font-size;
$table-body-font-size: 			$base-h7-font-size;

/* ==================================================================
## Config
===================================================================== */

/*.views-table {*/

table {

	font-size:			$table-base-font-size;
	text-transform: 	uppercase;

	width:100%;
	display:table;
	table-layout:fixed;
}

	.ttitle {

		font-size: $base-h3-font-size;

		@include tiny {}
		@include mobile {}
		@include narrow {}
		@include wide {}
		@include wider {}
		@include widest {}
		@include full { font-size: $base-h3-font-size; }
	}
	thead {

		font-size: $base-h5-font-size; 
		
		@include tiny {}
		@include mobile {}
		@include narrow {}
		@include wide {}
		@include wider { font-size: $base-h6-font-size; }
		@include widest { font-size: $base-h5-font-size; }
		@include full { font-size: $base-h3-font-size; }
	}

	tbody {

		font-size: $base-h5-font-size; 

		@include tiny {}
		@include mobile {}
		@include narrow {}
		@include wide {}
		@include wider { font-size: $base-h6-font-size; }
		@include widest { font-size: $base-h5-font-size; }
		@include full { font-size: $base-h7-font-size; }

		tr {

			&:hover {
				background-color: #f5f5f5;
			}
		}		
	}

	tr {

		border-top: 1px solid whitesmoke;

		&:nth-last-child(1) {
			border-bottom: 1px solid whitesmoke;
		}

		@include full {

			/*border: none !important;*/	
		}
	}

	th,td {

		/*display: block;*/
		white-space: 		nowrap;
		overflow: 			hidden;
		text-overflow: 		ellipsis;		
		vertical-align: 	middle;
		padding-left:		$base-button-pad-horiz;
		/*padding: 			0 1em;*/
		text-align:			left;
	}

	th {

		height: 				$base-row2-height;
		line-height: 			$base-row2-height;

		@include tiny {}
		@include mobile {}
		@include narrow {}
		@include wide {}
		@include wider {}
		@include widest {
			/*height: 			$base-row3-height;
			line-height: 		$base-row3-height;*/
		}
		@include full {
			height: 			$base-row1-height;
			line-height: 		$base-row1-height;
		}
	}

	td {

		height: 				$base-row2-height;
		line-height: 			$base-row2-height;

		.icon {
			height:					$base-row2-height;
			line-height: 			$base-row2-height;
			width:					$base-row2-height;
		}

		@include tiny {}
		@include mobile {}
		@include narrow {}
		@include wide {}
		@include wider {}
		@include widest {
			/*height: 			$base-row3-height;
			line-height: 		$base-row3-height;*/
		}
		@include full {
			height: 			$base-row4-height;
			line-height: 		$base-row4-height;

			.icon {
				height:					$base-row4-height;
				line-height: 			$base-row4-height;
				width:					$base-row4-height;
			}
		}
	}

	/* make links in cells easily selectable */
	td > a,
	th > a,
	td > span,
	td > time {

		width:100%;

		/* get text overflow ellipses working */
		/*display: 			inline-block;*/
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;


		/*height: 			3rem;
		line-height: 		3rem;*/

		text-decoration: none;
		color: $table-font-color;
		/*vertical-align: inherit;*/
	}

	td > a > img {
		vertical-align: inherit;
	}

	/*td*/.data--left {
		/*float:left;*/
		text-align:left;
	}

	/*td*/.data--right {
		/*float:right;*/
		text-align:right;
		padding-left: 0;
		/*padding-right: $base-button-pad-horiz;*/

		/*.icon {
			float: right;
		}*/
	}

	th.data--right {
		padding-left: 0;
		padding-right: $base-button-pad-horiz *1.5;

		@include full {
			padding-right: 0;
		}
	}

	

/* ==================================================================
 *
 * Select Drop down Base Style
 *
 * Perhaps this should be moved to _base.scss
 *
===================================================================== */	

.views-exposed-form {

	display: inline-block; 
	vertical-align: middle;

	/*margin: $base-row-pad 0;*/

	.form-item {
		line-height: $base-button-height;
		float: left;
	}

	label {
		display: none;
	}

	.form-select {
		border: none;

		&:option {
			text-transform: uppercase;
		}
	}

	input {
		display: none;
	}

	option {
		height: $base-button-height;
		line-height: $base-button-height;
	}
}

/* ==================================================================
 *
 * Customize Select Drop down Base Style
 *
 * Perhaps this should be moved to _base.scss
 *
===================================================================== */



/*.custom-dropdown--large {
	font-size: 1.5em;
}

.custom-dropdown--small {
	font-size: .7em;
}*/

/*.custom-dropdown__select{ 
	margin: 0; 
}

.custom-dropdown__select--white {
	background-color: #fff;
	color: #333;    
}

.custom-dropdown__select--white:hover {
	background-color: #e9e9e9;
}*/

.custom-dropdown > select {
	font-size: .95rem; /*$base-h4-font-size;*/
	text-transform: uppercase;
	color: inherit; 
	background: none;
}

.custom-dropdown__select > option{
	/*font-size: 1em;*/
	/*background-color: #fff;*/
	color: inherit;  
}

@supports (pointer-events: none) and
	  ((-webkit-appearance: none) or
	  (-moz-appearance: none) or
	  (appearance: none)) {

	.custom-dropdown {
		position: relative;
		display: inline-block;
		vertical-align: middle;
	}

	.custom-dropdown__select {
		/*padding-right: 1em;*/
		/*padding-left: 1em;*/ /*padding-left: 3.5em;*/ /* accommodate with the pseudo elements for the dropdown arrow */
		/*margin-left: $base-button-spacing;*/
		border: 0;
		border-radius: 3px;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;   
		outline: none; 
	}

	.custom-dropdown::before,
	.custom-dropdown::after {
		content: "";
		position: absolute;
		pointer-events: none;
	}

	.custom-dropdown::after { /*  Custom dropdown arrow */
		/*content: "\25BC";
		height: 1em;
		font-size: .625em;
		line-height: 1;
		right: 1.2em;
		top: 50%; 
		margin-top: -.5em;*/
	}

	.custom-dropdown::before { /*  Custom dropdown arrow cover */
		/*width: 2em;
		height: 30px;
		right: 0; top: .5em; bottom: 0;
		border-radius: 0 3px 3px 0;*/
	}

	.custom-dropdown__select[disabled] {
		color: rgba(0,0,0,.3);
	}

	.custom-dropdown.custom-dropdown--disabled::after {
		color: rgba(0,0,0,.1);
	}

	/* White dropdown style */
	.custom-dropdown--white {
		/*background: #f5f5f5;*/
	}

	.custom-dropdown--white::before {
		/*background-color: #555;
		border-left: 1px solid rgba(0,0,0,.1);*/
	}

	.custom-dropdown--white::after {
		/*color: rgba(0,0,0,.9);*/
	}

	/* FF only temp fix */
	@-moz-document url-prefix() {
		.custom-dropdown__select 			 { padding-right: .9em }
		.custom-dropdown--large .custom-dropdown__select { padding-right: 1.3em }
		.custom-dropdown--small .custom-dropdown__select { padding-right: .5em }
	}
}

