/* ==================================================================
 *
 *
 * tags
 *
 *
===================================================================== */

/* ==================================================================
## Config
===================================================================== */

$tagline-base-font-size:		.8rem;
$tags-base-font-size:			1em;
$tags-font-size:				1em;


$tagline-height:				$base-row-height;



$tag-spacing:					$base-button-spacing;
$tag-button-height:				$base-button-height;
$tag-button-pad-horiz:			$base-button-pad-horiz;

$tag-row-height:				$base-row-height; 	
$tag-font-color: 				$link-font-color; 	

$tag-bg-color:					#f9f9f9;
$tag-hover-bg-color:			#e5e5e5;

/* ==================================================================
## Tags Component
===================================================================== */

.tagline {

	/* 	
		module-level styling
		only font-size is specified at module level
		and everything below it is relative to it
	*/
	font-size:					$tagline-base-font-size;

	height: 					$tagline-height;
	line-height:  				$tagline-height;

	/*background:	lightgrey;*/
}

.tags{ /* tag container */

	/* 	
		element-level styling
		relative to module font-size
	*/
	&__tag{

		font-size: 				$tags-font-size;

		float: 					left;

		a, a:link, a:visited{
			display: 			inline-block;
			height: 			$tag-button-height;
			line-height: 		$tag-button-height;
			margin-right: 		$tag-spacing;			/* horiz space btw buttons */
			padding: 			0 $tag-button-pad-horiz; 	/* horiz text padding */
			color: 				$tag-font-color;
			text-transform: 	uppercase;
			text-decoration:	none;
			background:			$tag-bg-color;	
			
		}

		a:hover{
			text-decoration: 	underline;
			background: 		$tag-hover-bg-color;
		}
	}

	&__tag--more{

		float:					right;

		/* override tag style for more link */
		a, a:link, a:visited{
			color: 				grey;
			text-transform: 	none;
			margin-right: 		0;			/* horiz space btw buttons */
		}
	}
}

/*.footnote {

	p, span{
		font-size: 			11px;
		line-height: 		10px;
		color: 				grey;
		text-decoration:	none;
	}
}*/