/* ==================================================================
 *
 * Teaser Listings
 *
===================================================================== */


/* ==================================================================
## Config
===================================================================== */

$teaser-font-size:			1em;
$teaser-line-height:		$base-line-height;
$teaser-font-color:			$base-font-color;
$teaser-elem-spacing:		$base-elem-spacing;

/* ==================================================================
## Layout
===================================================================== */

.teasers {}

	.teaser {
	
		&__title 		{	padding: $teaser-elem-spacing 0;	}
		&__thumb 		{	margin: $teaser-elem-spacing 0;	}
		&__body p 		{	margin: $teaser-elem-spacing 0;	}
		&__tags 		{	/*margin: $base-row-pad 0;*/	}

	}


/* ==================================================================
## Typography
===================================================================== */

.teasers {}

	.teaser {

		/* 	
		module-level styling
		typically only font-size is specified at module level
		and em sizing below it is relative to it
		*/
		font-size:					$teaser-font-size;

		&__title {

			/*h2,
			h3,
			h4 */

			a, a:link, a:visited {

				color: 					$teaser-font-color;
				text-decoration: 		underline;
				text-transform: 		uppercase;
			}

			a:hover{

				text-decoration: 		underline;
			}
		}

		&__thumb 		{/* subclass overrides */}
		&__body 		{/* overrides */}
		&__tags 		{/* subclass overrides */}

	}

	


/* ==================================================================
 *
 * Events listing (teasers)
 *
===================================================================== */

.events-teasers {}

	.events-teaser >

		.teaser--title {

			/* subclass overrides */
			h4, h3, span, a, a:link, a:visited {

				text-decoration: underline;
			}
		}

/* ==================================================================
 *
 * Jobs listing (teasers)
 *
===================================================================== */

.jobs-teasers > 

	footer {

		border-top: 1px solid lightgrey;
	}

	.jobs-teaser >

		.teaser--title {

			/* title overrides */
			h3, span, a, a:link, a:visited {

			}
		}

		.job-title{ 
				/*@extend %title;*/
				h3, span, a, a:link, a:visited {
					font-size: $jobtitle-font-size;
					line-height: $title-line-height;
					color: $title-font-color;
				}
			}