/* ==================================================================
## Config
===================================================================== */	

$titlebar-base-font-size:	1rem;

$titlebar-font-size:		1em;
$titlebar-line-height:		3.75em; /*$base-row-height;*/
$titlebar-font-color:		$base-title-font-color;
$titlebar-row-height:		3.75em;/* $base-row-height;*/
$titlebar-title-spacing:	$base-elem-spacing;


/* ==================================================================
## Main Content
===================================================================== */

.titlebar {

	/* 	
		module-level styling
		only font-size is specified at module level
		and everything below it is relative to it
	*/
	font-size:					$titlebar-base-font-size;


	/* 	
		element-level styling
		relative to module font-size
	*/
	height: 			$titlebar-row-height;
	line-height: 		$titlebar-row-height;

	@include clearfix;

	@include layout((
        gutter-position: 	before,
        columns: 			8,
        gutters: 			3/8,
        global-box-sizing: 	border-box
	));

	&__title {

		h1, h2, h3, h4, h5, h6 {
			/*font-size: 		$titlebar-font-size;*/
			display: 			inline-block;
			height: 			$titlebar-row-height;
			line-height: 		$titlebar-row-height;
			color: 				$titlebar-font-color;
			text-transform: 	uppercase;
			text-decoration:	none;
			padding: 			0 3px; /* horizontal space btn tags */
		}

	}

	&__title--multiline {

		h1, h2, h3, h4, h5, h6 {
			margin: 			$titlebar-title-spacing 0;
			color: 				$titlebar-font-color;
			text-transform: 	uppercase;
			text-decoration:	none;
			padding: 			0 3px; /* horizontal space btn tags */
		}
	}

	&__title,
	&__title--multiline { /*.title*/
		width: 	span(7 of 8);
		float:	left;
	}

	&__icon{ /*.icon*/
		width: 	span(1 of 8);
		float:	right;
	}
}



	

	

	
