/*
 * Toolbar Component
 *
 * LAYOUT:
 *
 *
 *
 * CONTENT:
 *
 *
 *
 */

/*.main-wrapper {}*/

	.toolbar {

		/*padding: $base-row-pad 0;*/
		margin-top:142px;
		
		p, span, a{
			height: $base-row-height;
			line-height: $base-row-height;
		}
	}

		.toolbar-left{

			/*background: lightgrey;*/
		}

		.toolbar-right{

			/* debug */
			/*background: #f5f5f5;*/

		a, a:link, a:visited{
			display: inline-block;
			width: $base-row-height;
			float:right;
		}
		}

/* ==================================================================
## Main Content Header
===================================================================== */

.toolbar {

	h1, h2, h3, p, span, a, a:link, a:visited {
		font-size: $toolbar-font-size;
		font-weight: heavy;
		line-height: $pagetitle-line-height;
		color: $pagetitle-font-color;
		text-transform: uppercase;
		text-decoration:none;
	}

	a:hover{

		text-decoration: underline;
	}
}