/* ==================================================================
 *
 * Toolbar
 *
 * Perhaps this should be moved to _base.scss
 *
===================================================================== */

/* ==================================================================
## Config
===================================================================== */

$toolbar-base-font-size:	.8rem;
$toolbar-height:			$base-row-height;


/* ==================================================================
## Layout
===================================================================== */

.toolbar {

	font-size: 			$toolbar-base-font-size;	
	height: 			$toolbar-height;
	line-height: 		$toolbar-height;
	
}

	.toolbar-left{
		/*background: lightgrey;*/
	}

	.toolbar-right{

		/* debug */
		/*background: #f5f5f5;*/
		.icon--container {
			float:right;
		}
	}

/* ==================================================================
## Type
===================================================================== */

/*.toolbar {

	h1, h2, h3, p, span, a, a:link, a:visited {
		font-size: $toolbar-font-size;
		font-weight: heavy;
		line-height: $pagetitle-line-height;
		color: $pagetitle-font-color;
		text-transform: uppercase;
		text-decoration:none;
	}

	a:hover{

		text-decoration: underline;
	}
}*/

/* ==================================================================
## Debug
===================================================================== */
