{# <div class="notice"><div class="notice__content"></div></div> #}
<div class="container slider bg"> 

    <div class="layout sidebar-layout slider-drawer">

      {% include '@open_scratch/parts/sidebar.html.twig' %}

    </div> {# end sidebar-layout #}

    <div class="slider-screen"></div>
    <div class="bg__screen grid-target slider-toggle"></div>
    
    <div class="layout bg__layout slider-canvas">
      <div class="region bg__page"></div>
    </div> 

    <div class="layout main-header-layout slider-canvas visor invertable">

      {% include '@open_scratch/parts/main-header.html.twig' %}

    </div> {# end header-wrapper #}

    <div class="layout main-content-layout slider-canvas">

      {% include '@open_scratch/parts/main-content.html.twig' %}
      {% include '@open_scratch/parts/main-footer.html.twig' %}

    </div> {# end main-wrapper #}

</div> {# end container #}

{% include '@open_scratch/parts/modal--wechat.html.twig' %}