<h5 class="title">
	{{ fields.field_award_date.content }} | {{ fields.title.content }}
	{% if fields.field_award_link.content %}		
		<a class="icon--external-sml focus__btn" href="{{ fields.field_award_link.content|striptags }}" target="_blank">
			<i class="material-icons">call_made</i>
		</a>	    		
	{% endif %}
</h5>

