{%
  set classes = [
    dom_id ? 'js-view-dom-id-' ~ dom_id,
  ]
%}

{% if view.total_rows > 0 %}

<div{{ attributes.addClass(classes) }}>

  <div class="card coverage border--top expandable">

    <input type="checkbox" id="related-press">

    <label for="related-press">

      <div class="card__item card__header spaced--most expandable-head">

        {% include '@open_scratch/parts/view-header.html.twig' %}

      </div>

    </label>

    <div class="card__item card__body spaced--most mt--0 expandable-body">

      {{ rows }}

    </div>

  </div>

  {{ feed_icons }}

</div>

{% endif %}