{%
  set classes = [
    dom_id ? 'js-view-dom-id-' ~ dom_id,
  ]
%}
{{ dump(view) }}
<div{{ attributes.addClass(classes) }}>

  <div class="card pad-widest shift-full search-results">

    <div class="card__header bdt bdb bdc--def invertable">

      {% include '@open_scratch/parts/card-header.html.twig' with {'title': ( header )} only %}

    </div>

    <div class="card__item card__body">
      {{ rows }}
    </div>

    <div class="card__item card__footer invertable bdb bdc--def">

      {% include '@open_scratch/parts/card-footer--pager.html.twig' %}

    </div>
    
  </div>

  {{ feed_icons }}
</div>