{%
  set classes = [
    dom_id ? 'js-view-dom-id-' ~ dom_id,
  ]
%}

<div{{ attributes.addClass(classes) }}>
  <div class="card awards">

    <div class="card__item card__header">

      {% include '@open_scratch/parts/card-header.html.twig' with {'title': 'List of Awards'} only %}

    </div>

    <div class="card__item card__body">

      <table class="table awards-table__table inverter__target">

      	<thead class="awards-table__head">
      		<tr>
      			<th class="awards-table__head-date"><span>Date</span></th>
      			<th class="awards-table__head-name"><span>Award | Project</span></th>
      			<th class="awards-table__head-icon data--right"><span>Links</span></th>
      		</tr>
      	</thead>

      	<tbody class="focus">
        	{{ rows }}
        </tbody>

      </table>

    </div>

    <div class="card__item card__footer invertable bdb bdc--def">

      {% include '@open_scratch/parts/card-footer--pager.html.twig' %}

    </div>

  </div>

  {{ feed_icons }}
</div>