{%
  set classes = [
    dom_id ? 'js-view-dom-id-' ~ dom_id,
  ]
%}

<div{{ attributes.addClass(classes) }}>

  <div class="card books focus">

    <div class="card__header">

      {% include '@open_scratch/parts/card-header.html.twig' with {'title': 'Books'} only %}

    </div>

    <div class="card__item card__body">

      {{ rows }}

    </div>

    <div class="card__item card__footer invertable bdb bdt bdc--def">

      {% include '@open_scratch/parts/card-footer--pager.html.twig' %}

    </div>

  </div>

  {{ feed_icons }}

</div>