{%
  set classes = [
    dom_id ? 'js-view-dom-id-' ~ dom_id,
  ]
%}

<div{{ attributes.addClass(classes) }}>

  <div class="card featured-work">
    <div class="card__media slideshow">
      {{ rows }}
    </div>
  </div>

  {{ feed_icons }}
</div>
