{%
  set classes = [
	dom_id ? 'js-view-dom-id-' ~ dom_id,
  ]
%}

<div{{ attributes.addClass(classes) }}>

<div class="card projects-table">

	<div class="card__item card__header projects-table__header">

		{% include '@open_scratch/parts/card-header.html.twig' with {'title': 'List of Works'} only %}

    </div>

	<div class="card__body">

		<table class="table projects-table__table inverter__target">

			<thead>
				<tr>
					<th class="projects-table__head-year"><span>Year</span></th>
					<th class="projects-table__head-size"><span>Size</span></th>
					<th class="projects-table__head-city"><span>City</span></th>
					<th class="projects-table__head-type"><span>Type</span></th>
					<th class="projects-table__head-program"><span>Program</span></th>
					{# <th class="projects-table__head-name data--right"><span>Name</span></th> #} 
					{# <th class="projects-table__head-name data--right"><span>Project Name</span></th> #}
					<th class="projects-table__data-name data--right">

						<div class="ribbon">
							<div class="ribbon__segments">

							<div class="ribbon__segment right">
								<a class="icon--internal-sml">
									<i class="fa fa-angle-right" aria-hidden="true"></i>
								</a>
							</div>

							<div class="ribbon__segment right w--85p">
								<div class="label label--fullwidth">
									Project
								</div>
							</div>

							</div>
						</div>

					</th>
				</tr>
			</thead>

			<tbody class="focus">
				{{ rows }}
			</tbody>

		</table>
		
	</div>

	<div class="card__item card__footer invertable bdb bdc--def">

      {% include '@open_scratch/parts/card-footer--pager.html.twig' %}

    </div>

</div>

  {{ feed_icons }}
</div>