{%
  set classes = [
    dom_id ? 'js-view-dom-id-' ~ dom_id,
  ]
%}

<div{{ attributes.addClass(classes) }}>

  <div class="card facts">

    <div class="card__item card__header">
      <h4 class="title tt--u">{{ header }}</h4>
    </div>

    <div class="card__item spaced--most card__body">
      {{ rows }}
    </div>

  </div>

  {{ feed_icons }}
</div>