{% set facts = { 
		( fields.field_press_pub_author.label ): ( fields.field_press_pub_author.content ), 
	    ( fields.field_publication_editor.label ): ( fields.field_publication_editor.content ),
	    ( fields.field_publication_designer.label ): ( fields.field_publication_designer.content ),
	    ( fields.field_press_publisher.label ): ( fields.field_press_publisher.content),
	    ( fields.field_press_publication_date.label ): ( fields.field_press_publication_date.content ),
	    ( fields.field_publication_format.label ): ( fields.field_publication_format.content ),
	    ( fields.field_publication_language.label ): ( fields.field_publication_language.content ),
	    ( fields.field_publication_isbn.label ): ( fields.field_publication_isbn.content ),
	    ( fields.field_product_dimensions.label ): ( fields.field_product_dimensions.content )
    } 
%}

{# ------------------------------------------------------------ #}
<div class="card book-item invertable bdt bdc--def expandable">
	
	<input type="checkbox" id="{{ fields.title.content|striptags }}" checked>

	<label for="{{ fields.title.content|striptags }}">

		<div class="card__item spaced card__header expandable-head">

	        {# {% set hey = ( fields.title.content ) ~ ' (' ~ ( fields.field_press_publication_date.content ) ~ ')' %} #}
	        {% set title = ( fields.title.content ) %}
	        {% include '@open_scratch/parts/card-header--expandable.html.twig' with {'title': title} only %}

	    </div>

	</label>

	<div class="expandable-body">

		<div class="card__item card__slide">

			<div class="gallery gallery--books">
				{{ fields.field_image_files.content }}
			</div>

		</div>

		<div class="card__item spaced card__body">

			<div class="bd">{{ fields.body.content }}</div>
		
			{% include '@open_scratch/parts/facts.html.twig' with facts %}

		</div>

		<div class="card__item card__footer">

			<div class="overlay">

				<div class="overlay__under">

					{% set tags = [ ( fields.type.content ), ( fields.field_book_type.content ) ] %}
					{% include '@open_scratch/parts/card-footer--html-tags.html.twig' with tags %}

				</div>

				<div class="overlay__over pe--n">

					{% set link = (fields.field_link.content) %}
					{% include '@open_scratch/parts/card-footer--external-link.html.twig' with {'link': link} %}

				</div>

			</div>

		</div>

	</div>
	
</div>