{%
  set classes = [
    dom_id ? 'js-view-dom-id-' ~ dom_id,
  ]
%}
<div{{ attributes.addClass(classes) }}>

  <div class="card pad-widest events focus invertable">

    <div class="card__item card__header">

      {% include '@open_scratch/parts/card-header.html.twig' with {'title': ( header )} only %}

    </div>

    <div class="card__body">

      {{ rows }}

    </div>
  

    <div class="card__item card__footer bdb bdc--def">

      <div class="focus__block--onfull">

        {% include '@open_scratch/parts/card-footer--pager.html.twig' %}

      </div>

    </div>

  </div>

  {{ feed_icons }}
</div>