{%
  set classes = [
    dom_id ? 'js-view-dom-id-' ~ dom_id,
  ]
%}

<div{{ attributes.addClass(classes) }}>

  <div class="card recent-news">

    {# <div class="card__header">

      <div class="ribbon med">
        <div class="ribbon__segments">
          <div class="ribbon__segment left">

            <h2 class="title title--secondary inline-block">Recent News</h2>

          </div>
        </div>
      </div>

    </div> #}

    <div class="card__item card__body"> {# card__item--spaced #}

      {{ rows }}

    </div>

    <div class="card__item card__footer">

      {% include '@open_scratch/parts/card-footer--more.html.twig' %}

    </div>

  </div>

  {{ feed_icons }}

</div>

