<div class="slide">

	<div class="slide__image">

		{{ fields.field_image_files.content }}

	</div>

	{# <div class="slide__caption step--left step--right">

		<div class="ribbon ribbon--med">
			<div class="ribbon__segments">

				<span class="ribbon__segment--left">
					<div class="label label--nopad"><h6>{{ fields.title.content }}</h6></div> 
				</span>
				<span class="ribbon__segment">
					<div class="label label--nopad"><h4>{{ fields.counter.content }}/ {{ view.result|length }}</h4></div>
				</span>

			</div>
		</div>

	</div> #}
	
</div>