<div class="card people pspaced--less media mediaCard moreable"> {# border--tb people #}

	<div class="media__img media__img--profile">

		<div class="card__item spaced people__thumb">

			<div class="thumb">{{ fields.field_thumbnail.content }}</div>

		</div>

	</div>

	<div class="media__contents">

		<div class="card__item spaced--more card__header people__title"> {# media mediaTitle #}

			<h2 class="title">{{ fields.title.content }}, {{ fields.field_profile_position.content }}</h2>
			
		</div>

		<div class="card__item spaced card__body people__body">

			<div class="bd bd--smltext">{{ fields.body.content }}</div>

		</div>

	</div>	

</div>