{%
  set classes = [
    dom_id ? 'js-view-dom-id-' ~ dom_id,
  ]
%}

<div{{ attributes.addClass(classes) }}>

{% if view.total_rows > 0 %}
               
  <div class="card card--supercard relations bdt bdc--def invertable expandable">

    <input type="checkbox" id="related-work" checked>
    <label for="related-work">
    
      <div class="card__item spaced card__header expandable-head">
        {% set title = ( view.display_handler.display.display_title ) ~ ' (' ~ ( view.total_rows ) ~ ')' %}
        {% include '@open_scratch/parts/card-header--expandable.html.twig' with {'title': title} only %}
      </div>

    </label>

    <div class="card__item cr card__body expandable-body">

      <div class="gallery galleryRelations">
        <ul class="gallery__container">
          {{ rows }}
        </ul>
      </div>

    </div>

    {# <div class="card__item card__footer">

        <div class="ribbon med">
          <div class="ribbon__segments">

            <div class="ribbon__segment right">
              <a class="icon icon--bigr mat btn-big white" href="{{ events_path }}">
                <i class="material-icons">arrow_forward</i>
              </a> 
            </div>

            <div class="ribbon__segment right">
              <div class="label">More Work</div>
            </div>

          </div>
        </div>

    </div> #}

  </div>
{% endif %}

  {{ feed_icons }}
</div>
