<div class="card practice">

	<div class="card practice__slideshow">
		<div class="card__slide">
			{{ fields.field_thumbnail.content }}
		</div>
	</div>

	<div class="card practice__main">

		<div class="card__item card__item--spaced-most card__header media mediaTitle mediaTitle--big">
			<div class="media__contents">
		    	<h2>{{ fields.title.content }}</h2>
			</div>
		</div>

		<div class="card__item card__item--spaced-more card__body">
			<div class="bd">{{ fields.body.content }}</div>
		</div>

	</div>

</div>