{%
  set classes = [
    dom_id ? 'js-view-dom-id-' ~ dom_id,
  ]
%}

<div{{ attributes.addClass(classes) }}>

  <div class="card pad-widest shift-full recent-news">

    <div class="card__header">

      {% include '@open_scratch/parts/card-header--big.html.twig' with {'title': ( 'Recent News'|t )} only %}

    </div>

    <div class="card__item card__body"> {# card__item--spaced #}

      {{ rows }}

    </div>

    <div class="card__item card__footer">

      {% include '@open_scratch/parts/card-footer--more.html.twig' with {'label': ( footer )} only %}

    </div>

  </div>

  {{ feed_icons }}

</div>

