<table class="table awards-table__table inverter__target">

  	<thead class="awards-table__head">
  		<tr>
  			<th class="awards-table__head-date"><span>{{ view.field.field_award_date.label }}</span></th>
  			<th class="awards-table__head-name"><span>{{ view.field.title.label }}</span></th>
  			<th class="awards-table__head-icon data--right"><span>{{ view.field.field_award_link.label }}</span></th>
  		</tr>
  	</thead>

  	<tbody class="focus">
    	{% for row in rows %}
		    {{ row.content }}
		{% endfor %}
    </tbody>

</table>