{%
  set classes = [
    dom_id ? 'js-view-dom-id-' ~ dom_id,
  ]
%}

{% if view.total_rows > 0 %}

<div{{ attributes.addClass(classes) }}>

  <div class="card coverage bdt bdc--def invertable expandable">

    <input type="checkbox" id="related-awards">
    <label for="related-awards">

      <div class="card__item spaced card__header expandable-head">
        {# {% set title = ( view.display_handler.display.display_title ) ~ ' (' ~ ( view.total_rows ) ~ ')' %} #}
        {% set title = ( 'Awards'|t ) ~ ' (' ~ ( view.total_rows ) ~ ')' %}
        {% include '@open_scratch/parts/card-header--expandable.html.twig' with {'title': title} only %}
      </div>

    </label>

    <div class="card__item cr card__body spaced--most mt--0 expandable-body">
      {{ rows }}
    </div>

  </div>

  {{ feed_icons }}

</div>

{% endif %}