{%
  set classes = [
    dom_id ? 'js-view-dom-id-' ~ dom_id,
  ]
%}
<div{{ attributes.addClass(classes) }}>

  <div class="card events border--top">

    <div class="card__item spaced--less card__header">

      <div class="ribbon med">
        <div class="ribbon__segments">
          <div class="ribbon__segment left">

            <h4 class="title title--secondary tt-u inline-block">Event</h4>

          </div>
        </div>
      </div>

    </div>

    <div class="card__body">

      {{ rows }}

    </div>

  </div>

  {{ feed_icons }}
  
</div>