{# <div class="card__header">

  <div class="ribbon med">
    <div class="ribbon__segments">
      <div class="ribbon__segment left">

        <h2 class="title title--secondary inline-block">An OPEN Manifesto</h2>

      </div>
    </div>
  </div>

</div>

<div class="card__body card__body--big"> #}

	<div class="bd bd--bigtext">{{ fields.body.content }}</div>	
  
{# </div> #}