{%
  set classes = [
    dom_id ? 'js-view-dom-id-' ~ dom_id,
  ]
%}
<div{{ attributes.addClass(classes) }}>

{% if view.total_rows > 0 %}
               
  <div class="card ideas">

    <div class="card__item spaced--most card__body">

      <div class="gallery gallery--ideas">
        <ul class="gallery__container">
          {{ rows }}
        </ul>
      </div>

    </div>

  </div>
{% endif %}

  {{ feed_icons }}
</div>
