<tr class="row--clickable focus__block">

	<td class="awards-table__data-date">
		<span>{{ fields.field_award_date.content }}</span>
	</td>

	<td class="awards-table__data-name">
		<span>
			{{ fields.title.content }}
			{% if fields.field_relation.content %}
				| {{ fields.field_relation.content }}
		    {% endif %}
		</span>
	</td>

	<td class="awards-table__data-icon data--right">
		<div class="icon--container">
			{% if fields.field_award_link.content %}
	    		<a class="icon--external focus__btn" href="{{ fields.field_award_link.content|striptags }}" target="_blank">
	    			<i class="material-icons">call_made</i>
	    		</a>		    		    		    		
		    {% endif %}
	    </div>
	</td>
	
</tr>

