{%
	set classes = [
		dom_id ? 'js-view-dom-id-' ~ dom_id,
	]
%}

<div{{ attributes.addClass(classes) }}>
	
	<div class="card pad-widest shift-full manifesto spaced">

		<div class="card__header">

			{% include '@open_scratch/parts/card-header--big.html.twig' with {'title': ( header )} only %}

		</div>

		<div class="card__body card__body--big">

			{{ rows }}
		  
		</div>

		
	</div>

	{{ feed_icons }}
</div>