{%
  set classes = [
    dom_id ? 'js-view-dom-id-' ~ dom_id,
  ]
%}

<div{{ attributes.addClass(classes) }}>

{% if view.total_rows > 0 %}
               
  <div class="card pad-widest shift-full relations bdt bdc--def invertable expandable">

    <input type="checkbox" id="related-work" class="collapseMobile" checked>
    <label for="related-work">
    
      <div class="card__item spaced card__header expandable-head">
        {# {% set title = ( view.display_handler.display.display_title ) ~ ' (' ~ ( view.total_rows ) ~ ')' %} #}
        {% set title = ( 'Related'|t ) ~ ' (' ~ ( view.total_rows ) ~ ')' %}
        {% include '@open_scratch/parts/card-header--expandable.html.twig' with {'title': title} only %}
      </div>

    </label>

    <div class="card__item cr card__body expandable-body">

      <div class="gallery galleryRelations">
        <ul class="gallery__container">
          {{ rows }}
        </ul>
      </div>

    </div>

  </div>
{% endif %}

  {{ feed_icons }}
</div>
