{%
	set classes = [
		dom_id ? 'js-view-dom-id-' ~ dom_id,
	]
%}

<div{{ attributes.addClass(classes) }}>

	<div class="card pad-widest shift-full peoples"> {# peoples #}

		<div class="card__item card__body">
			{{ rows }}
		</div>

		{{ feed_icons }}

	</div>

</div>