<div class="ribbon med">
	<div class="ribbon__segments">

		<span class="ribbon__segment left">
			<a class="icon--tag">
				<i class="material-icons">label</i>
			</a>
		</span>

		{% include '@open_scratch/parts/tags.html.twig' with tags %}

	</div>
</div>