<div class="ribbon med">
  <div class="ribbon__segments">

    <div class="ribbon__segment right">
      <a class="icon--internal" href="{{ events_path }}">
        <i class="material-icons">arrow_forward</i>
      </a> 
    </div>

    <div class="ribbon__segment right">
      <h4 class="label">{{ label }}</h4>
    </div> 

  </div>
</div>