<div class="ribbon med">
	<div class="ribbon__segments">

		{% if ( link ) %}

		<div class="ribbon__segment right">
          	<a class="icon--external noclick"><i class="material-icons">call_made</i></a> 
        </div>

        <div class="ribbon__segment right">
          	<div class="label label--nopad"><h4>{{ link }}</h4></div>
        </div>

        {% endif %}

	</div>
</div>