<div class="ribbon big">
    <div class="ribbon__segments">
      <div class="ribbon__segment left">

        <h4 class="title title--secondary inline-block">{{ label }}</h4>

      </div>
    </div>
</div>