<div class="card pad-widest shift-full factsheet bdt bdb bdc--def invertable expandable">

  {# <div class="card__item card__item--spaced-most card__header">
    <div class="title title--secondary">
      <h3>Data</h3>
    </div>
  </div> #}

  <input type="checkbox" id="data" class="collapseMobile" checked>
  <label for="data">

  <div class="card__item spaced card__header expandable-head">
    {% set title = ( 'Data'|t ) %}
    {% include '@open_scratch/parts/card-header--expandable.html.twig' with {'title': title} only %}
  </div>

  </label>

  {# <div class="card__item card__item--spaced-most-top card__body"> #}
  <div class="card__item cr card__body expandable-body">
    <div class="gallery-container factsheet-gallery-container">
      {{ page.content_facts }}
    </div>
  </div>
  
</div>
