<div class="card factsheet border--top">

  <div class="card__item card__item--spaced-most card__header">
    <div class="title title--secondary">
      <h3>Data</h3>
    </div>
  </div>

  <div class="card__item card__item--spaced-most-top card__body">
    <div class="gallery-container factsheet-gallery-container">
      {{ page.content_facts }}
    </div>
  </div>
  
</div>
