<div class="wrapper main-footer-wrapper region ">

  <footer class="footer main-footer" role="contentinfo">

    <div class="ribbon ribbon med fullpage__hidden">
      <div class="ribbon__segments">

        {# <span class="ribbon__segment right">
          <a class="icon--invert inverter__toggler">
            <i class="material-icons">invert_colors</i>
          </a>          
        </span> #}

        <span class="ribbon__segment left">
          <h6 class="label label--nopad" style="text-transform:none;">{{ 'Copyright © 2017, OPEN Architecture.'|t }}</h6>
        </span>

      </div>
    </div>

    <a class="icon--menu-mobile z--front slider-toggler">
      <i class="material-icons">menu</i>
    </a>

  </footer>

</div> {# end footer-wrapper #}