<div class="wrapper main-content-wrapper "> {# buffer--main-top buffer--main-bottom #}

  <div class="fullpage__hidden region main-content__buffer buffer-top"></div>

  {% if (page.toolbar_left) %}
    <div class="region main-content__header">
      {% include '@open_scratch/parts/toolbar.html.twig' %}
    </div>
  {% endif %}

  <main class="main-content" role="main"> 

    <div id="fullpage" class="fullpage">

      {% if page.content_slideshow %}

        <div class="fullpage__section">

          <div id="main-content-slideshow" class="region main-content__slideshow slideshow bg--dark pos--r"> {# border--top #}

            <a class="icon--fullscreen z--front fullpage__toggler">
              <i class="material-icons">fullscreen</i>
            </a>

            {{ page.content_slideshow }}

          </div>

        </div>

      {% endif %}
      
      <div class="fullpage__hidden z--fwd">

        <div id="main-content-primary" class="region main-content__primary"> {# border--top #}
          {{ page.content_primary }}
        </div>

      </div>

      <div class="fullpage__hidden">

        {% if page.content_gallery %}
          <div id="main-content-gallery" class="region main-content__gallery">

            {{ page.content_gallery }}
            
          </div>
        {% endif %}
        
        {% if page.content_relations %}
          <div id="main-content-relations" class="region main-content__relations"> {# border--top bg--dots #}
            {{ page.content_relations }}
          </div>
        {% endif %}

        {% if page.content_facts %}
          <div id="main-content-facts" class="region main-content__facts"> {# border--top #}
            {% include '@open_scratch/parts/factsheet.html.twig' %} 
          </div>       
        {% endif %}

      </div> 

    </div>

  </main>

  <div class="fullpage__hidden region main-content__buffer buffer-bottom"></div>

</div> {# end main-content-wrapper #}