<div class="wrapper main-footer-wrapper region ">

  <footer class="card footer main-footer" role="contentinfo">

    <div class="ribbon ribbon med">
      <div class="ribbon__segments">

        <span class="ribbon__segment right">
          <a class="icon icon--mat icon--button-big inverter__toggler">
            <i class="material-icons">invert_colors</i>
          </a>          
        </span>

        <span class="ribbon__segment left">
          <h6 class="label label--nopad" style="text-transform:none;">Copyright © 2017, OPEN Architecture.</h6>
        </span>

      </div>
    </div>

    <a class="icon icon--mat icon--white-on-orange icon--bigr icon--button-big-sqr z--front slider-toggler menu-toggler-2">
      <i class="material-icons">menu</i>
    </a>

  </footer>

</div> {# end footer-wrapper #}