<div id="wechat-modal" class="ezmodal">
  <div class="ezmodal-container">
      <div class="ezmodal-content">
          <img src="{{ theme_path }}/images/wechat_qrc.png"/>
      </div>
  </div>
</div>