<div class="searchbar-wrapper">
	<div class="searchbar invertable">
		<span class="searchbar__input">
			{{ page.sidebar_search }}
			{# <input type="search" id="search" placeholder="Search..." /> #}
		<span>
	</div>
</div> 