<div class="wrapper sidebar-wrapper bg--white">

    <div class="sidebar invertable">

        <div class="region sidebar__top z--fwd">

            {% include '@open_scratch/parts/searchbar.html.twig' %}               

        </div>

        {# <div class="buffer-top"></div> #}

        <div class="region sidebar__middle">

            {{ page.sidebar_nav }}

        </div>

 
        <div class="region sidebar__bottom bdt bdc--hln z--fwd invertable">

            {% include '@open_scratch/parts/icongallery.html.twig' %} 

        </div>

    </div> {# end sidebar #}

</div> {# end sidebar-wrapper #}