<div class="wrapper toolbar-wrapper">

  <div class="toolbar peekable">

    <input type="checkbox" id="toolbar" checked>

    <div class="toolbar-contents peekable-contents">

      <div class="ribbon">
        <div class="ribbon__segments">
          <div class="ribbon__segment left w--85p tt--u">

            {{ page.toolbar_left }}

          </div>
        </div>
      </div>

    </div> {# end toolbar-contents #}

    <label for="toolbar">

        <div class="toolbar-toggle peekable-toggle">

          <div class="ribbon">
            <div class="ribbon__segments">

              <div class="ribbon__segment right">

                {# <a class="icon icon--fa sml btn-bigr pull-left checked" style="background:none"> #}
                <a class="icon--filter checked" style="background:none">
                  <i class="material-icons">close</i>
                </a>

                {# <a class="icon icon--fa sml btn bigr pull-left unchecked" style="background:none"> #}
                <a class="icon--filter unchecked" style="background:none">
                  {# <i class="fa fa-filter" aria-hidden="true"></i> #}
                  <i class="material-icons">filter_list</i>
                </a>

              </div>

              {# <div class="ribbon__segment right">
                <h7 class="label unchecked">filters</h7>
              </div> #}

            </div>
          </div>

        </div> {# end toolbar-toggle #}

    </label>

  </div> {# end toolbar #}

</div> {# end toolbar-wrapper #}

  