<div id="views_slideshow_slide_counter_{{ vss_id }}" {{ attributes.addClass(classes) }}>
  <div class="slide-counter">
    <span class="num">1</span> 
    <span>{{ '/'|t }}</span> 
    <span class="total">{{ slide_count }}</span>
  </div>
</div>
