/* ==================================================================
## Debug
===================================================================== */

/*.layout {

	border: solid 1px #333;	

}
*/
/*.region {

	border: solid 1px #ccc;	

}*/
/*.card {

	border: solid 1px red;
}*/

/* temp */
.flexslider { margin-bottom:0; }
.flex-control-nav { display:none; }