/* ==================================================================
## Menubar (Page Header)
===================================================================== */

#block-open-scratch-branding {
	a{
		font-weight: bold;
		font-size: $sitename-font-size;
		text-transform: uppercase;
		color: $openorange-color;
		text-decoration:none;
	}
	a:hover{
		text-decoration: none;
	}
}

.menubar-content{

	span, a, a:link, a:visited{
		font-size: $menu-font-size;
		color: $menu-font-color;
		text-decoration:none;
	}

	a:hover{
		text-decoration: none;
	}

	h2{
		display:none;
	}
}

/* ==================================================================
## Main Content Header
===================================================================== */

.main-content-header {
	h1, h2, h3, p, span, a, a:link, a:visited {
		font-size: $pagetitle-font-size;
		font-weight: heavy;
		line-height: $pagetitle-line-height;
		color: $pagetitle-font-color;
		text-transform: uppercase;
		text-decoration:none;
	}
	a:hover{
			text-decoration: underline;
		}
}

/* ==================================================================
## Main Content
===================================================================== */

/* Page Title */
.main-content {
}
	%title {
		h1, h2, h3, span, a, a:link, a:visited {
			text-transform: uppercase;
			text-decoration: none;
		}
		a:hover{
			text-decoration: underline;
		}
	}

	/* defined in block.html.twig */
	.block-title{ 
		@extend %title;
		h2, span, a, a:link, a:visited {
			font-size: $blocktitle-font-size;
			line-height: $blocktitle-line-height;
			color: $blocktitle-font-color;
		}
	}

	.manifesto-title{ 
		@extend %title;
		span, a, a:link, a:visited {
			font-size: $manifesto-title-font-size;
			line-height: $manifesto-title-line-height;
			color: $manifesto-title-font-color;
		}
	}

	.node-title{ 
		@extend %title;
		h3, span, a, a:link, a:visited {
			font-size: $title-font-size;
			line-height: $title-line-height;
			color: $title-font-color;
		}
	}

	.job-title{ 
		@extend %title;
		h3, span, a, a:link, a:visited {
			font-size: $jobtitle-font-size;
			line-height: $title-line-height;
			color: $title-font-color;
		}
	}

	.row-title{}

	.headline{ 
		@extend %title;
		h3, span, a, a:link, a:visited {
			font-size: $headline-font-size;
			line-height: $headline-line-height;
			color: $headline-font-color;
			text-decoration: underline;
		}
	}

	.events-headline{ 
		@extend %title;
		h3, span, a, a:link, a:visited {
			font-size: $events-headline-font-size;
			line-height: $events-headline-line-height;
			color: $headline-font-color;
			text-decoration: underline;
		}
	}

	.slide-caption{ 
		@extend %title;
		span, a, a:link, a:visited{
			line-height: $slide-caption-line-height;
			font-size: $slide-caption-font-size;
			color: $slide-caption-font-color;
		}
	}

/* override block title size for facts */
#main-content-facts{
	.block-title{ 
		h2, span, a, a:link, a:visited {
			font-size: $facttitle-font-size;
		}
	}
}

/* ==================================================================
## table views
===================================================================== */

.views-table {

	table {
		width:100%;
		display:table;
		table-layout:fixed;
	}

	thead {
		display: none;
	}

	tbody {
		font-size: $table-font-size;
		line-height: $table-row-height;
		
	}

	span, a, a:link, a:visited {
		text-transform: uppercase;
		text-decoration: none;
		color: $table-font-color;
	}

	a:hover{
		text-decoration: underline;
	}

	tr {
		border-top: 1px solid #e1e1e1;		
		height: $table-row-height;
	}

	td {
		display: block;
		/*white-space: nowrap;*/
		overflow: hidden;
		text-overflow: ellipsis;
	}

	td.year {
		float: left;
		width: $table-col1-width;
		/*padding: 0 0 0 .2rem;*/
	}

	td.title {
		float: left;
		width: $table-col2-width;
		text-align: right;
		/*padding: 0 0 0 .2rem;*/
	}

	td.arrow {
		float: right;
		width: $table-col3-width;
		text-align: right;
		/*padding: 0 0 0 .2rem;*/
	}
}

/* ==================================================================
## bodies
===================================================================== */

p{
	font-size: $base-font-size;
	line-height: $base-line-height;
	color: $base-font-color;
}

.menubar {
	p {
		font-size: $base-font-size;
		line-height: $base-line-height;
		color: $base-font-color;
	}
}

.main-content {
	p {
		font-size: $base-font-size;
		line-height: $base-line-height;
		color: $base-font-color;
	}
}

.manifesto p{
	font-size: $manifesto-font-size;
	line-height: $manifesto-line-height;
	color: $manifesto-font-color;
}

/* ==================================================================
## Tags
===================================================================== */

.tags{
	span{
		font-size: $tags-font-size;
		line-height: $tags-line-height;
		color: $tags-font-color;
		text-transform: uppercase;
		text-decoration:none;
	}
	a, a:link, a:visited{
		font-size: $tags-font-size;
		line-height: $tags-line-height;
		color: $tags-link-color;
		text-transform: uppercase;
		text-decoration:none;
	}
	a:hover{
		text-decoration: underline;
	}
}



/* ==================================================================
## Footer
===================================================================== */

.main-footer{
	span, a, a:link, a:visited{
		font-size: $menu-font-size;
		color: $menu-font-color;
		text-decoration:none;
	}
	h2{
		display:none;
	}
}