/* =======================================================================
## ++ Globals
========================================================================== */
html {
	font-size: 16px;

	@include mobile{ /* max-width: 559px */
    	font-size: 14px;
    }
    @include narrow{ /* all and (min-width: 560px) and (max-width: 850px) */
    	font-size: 16px;
    }
    @include wide{ /* all and (min-width: 851px) */
    	font-size: 18px;
    }
}


body{
	/*font-size: 100%;*/
	color: $base-font-color;	
	/*line-height: 1.125em;*/ /* 16×1.125=18px */
    -webkit-font-smoothing: antialiased;
    font-family: $base-font-family;
    /*background: #white;*/
}

*, *:before, *:after{
	padding: 0;
	margin: 0;
    box-sizing:border-box;
}

/* only apply font-size and line-height to elements so don't have issue w/ cascading sizes */
p {
	font-size: 		$base-font-size; 
	line-height: 	$base-line-height;
	padding: 		0 $base-pad-horiz;		
}
h1 {
	font-size: 		$base-h1-font-size;
	line-height: 	$base-line-height;
	padding: 		0 $base-pad-horiz;	
}
h2 {
	font-size: 		$base-h2-font-size;
	line-height: 	$base-line-height;
	padding: 		0 $base-pad-horiz;
}
h3 {
	font-size: 		$base-h3-font-size;
	line-height: 	$base-line-height;	
	padding: 		0 $base-pad-horiz;
}

a, a:link, a:visited {
	color: 					$base-link-color;
	text-decoration: 		underline;
}
a:hover{
	text-decoration: 		underline;
}


/* =======================================================================
## ++ Cleafix
========================================================================== */

/* float clearing for IE6 */
* html .clearfix{
 height: 1%;
 overflow: visible;
}

/* float clearing for IE7 */
* + html .clearfix{
 min-height: 1%;
}

/* float clearing for everyone else */
.clearfix:after{
 clear: both;
 content: ".";
 display: block;
 height: 0;
 visibility: hidden;
 font-size: 0;
}

.clr{clear:both;}






