/* =======================================================================
## ++ Globals
========================================================================== */
html {
	height:100%;  /* req for flexbox, ie sticky footer */
	font-size: 16px;

	@include tiny{ /* max-width: 559px */
    	font-size: 12px;
    }
	@include mobile{ /* max-width: 559px */
    	font-size: 13px;
    }
    @include narrow{ /* all and (min-width: 560px) and (max-width: 850px) */
    	font-size: 14px;
    }
    @include wide{ /* all and (min-width: 851px) */
    	font-size: 15px;
    }
    @include wider{ /* all and (min-width: 851px) */
    	font-size: 16px;
    }
    @include widest{ /* all and (min-width: 851px) */
    	font-size: 16px;
    }
    @include full{ /* all and (min-width: 851px) */
    	font-size: 18px;
    }
}


body{
	height:100%;  /* req for flexbox, ie sticky footer */
	/*font-size: 100%;*/
	color: $base-font-color;	
	/*line-height: 1.125em;*/ /* 16×1.125=18px */
    -webkit-font-smoothing: antialiased;
    font-family: $base-font-family;
    /*background: #333;*/
}

*, *:before, *:after{
	padding: 0;
	margin: 0;
    box-sizing:border-box;
}

/* only apply font-size and line-height to 
elements so don't have issue w/ cascading sizes */
p {
	font-size: 		$base-font-size; 
	line-height: 	$base-line-height;
	/*padding: 		0 $base-pad-horiz;*/	
	margin: 		$base-row-pad 0;	
}

p:first-child,
p:last-child {
	margin: 0;
}

li {
	/*line-height: 	$base-line-height;*/
}

span {
	/* only use for local styling */
}

h1,h2,h3,h4,h5,h6 {
	line-height: 	$base-line-height-title;
	/*text-transform: uppercase;*/
}

h1 {	font-size: 	$base-h1-font-size;		}
h2 {	font-size: 	$base-h2-font-size;	line-height: $base-line-height-single; } /* task/event titles */
h3 {	font-size: 	$base-h3-font-size;		}
h4 {	font-size: 	$base-h4-font-size;		}
h5 {	font-size: 	$base-h5-font-size;		}
h6 {	font-size:	$base-h6-font-size;	line-height: $base-line-height; } /* facts */

a, a:link, a:visited {
	color: 				$link-font-color;
	text-decoration:	none;
}
a:hover{

}

/* responsive images */
img {

	width:100%;
	height:auto;
}


/* =======================================================================
## ++ Cleafix
========================================================================== */

/* float clearing for IE6 */
* html .clearfix{
 height: 1%;
 overflow: visible;
}

/* float clearing for IE7 */
* + html .clearfix{
 min-height: 1%;
}

/* float clearing for everyone else */
.clearfix:after{
 clear: both;
 content: ".";
 display: block;
 height: 0;
 visibility: hidden;
 font-size: 0;
}

.clr{clear:both;}




