/* ==================================================================
## Grid
===================================================================== */
/*

$susy: (
  flow: rtl | ltr*
  	ltr - Layout elements will flow from left to right.
  	rtl - Layout elements will flow from right to left.
  math: fluid* | static
  	fluid - grid spans will be calculated relative to the container, and output as % values.
  	static - grid values will be calculated as multiples of the column-width setting.
  output: float | isolate
  gutter-position: after,
  container: auto,
  container-position: center,
  columns: 4,
  gutters: .25,
  column-width: false,
  global-box-sizing: content-box,
  last-flow: to,
  debug: (
    image: hide,
    color: rgba(#66f, .25),
    output: background,
    toggle: top right,
  ),
  use-custom: (
    background-image: true,
    background-options: false,
    box-sizing: true,
    clearfix: false,
    rem: true,
  )
);

*/

/* GLOBAL SUSY SETTINGS */

$susy: (
  /*flow: ltr,*/
  /*math: fluid,*/
  output: float,
  gutter-position: inside,
  /*container: auto,*/
  /*container-position: center,*/
  columns: 4,
  gutters: 3/8,
  /*column-width: false,*/
  global-box-sizing: content-box,
  /*last-flow: to,*/
  debug: (
    image: show-columns,
    color: rgba(#AEEFF2, .15),
    output: overlay,
    toggle: top right,
  )
  /*use-custom: (
    background-image: true,
    background-options: false,
    box-sizing: true,
    clearfix: false,
    rem: true,
  )*/
);

/* GLOBAL SUSY SETTINGS */

$susy-gallery: (
  gutter-position: before,
  columns: 4,
  gutters: 3/16,
  global-box-sizing: border-box
);


/* ==================================================================
## Grid
===================================================================== */

/* wrapper for all page content */
.container {
	@include container;
}

/* wrapper for menubar regions */
.menubar-wrapper {

}

	.menubar-header{
		@include span(3 of 4);
		float:left;
	}

	.menubar-content{

	}

	#menubar-content-primary{
		/*display:none;*/
	}

	#menubar-content-secondary{
		@include span(1 of 4 last);
		float:right;
	}


/* wrapper for content regions */
.main-wrapper {

}

	.main-header {
		/*@include span(4);*/
	}

		#main-content-header-left{
			@include span(3 of 4);
			float:left;
		}

		#main-content-header-right{
			@include span(1 of 4 last);
			float:right;
		}

	.main-content {
		
	}

	#main-content-slideshow{

		.slide {
			@include span(4);
		}

		.slide-title {
			@include span(3 of 4);
			float:left;
		}

		.arrow {
			@include span(1 of 4 last);
			float:right;
		}

		.slide-controls{
			@include span(4);
		}

	}

	#main-content-primary{
		@include span(4);
	}

	/* adsf */
	#main-content-relations{

		@include span(4);
		@include clearfix;	

	}

	#main-content-facts{

		/*@include layout($susy);*/
		@include layout((
			gutter-position: inside,
			columns: 4,
			gutters: 3/8,
			global-box-sizing: border-box
		));

		@include span(4);
		@include clearfix;

	}

	#main-content-gallery{

		@include clearfix;

		@include layout((
			gutter-position: inside,
			columns: 4,
			gutters: 3/8,
			global-box-sizing: content-box
		));

		.region {
			@include span(4);		
		}
		
		.gallery-list{

			@include clearfix;
			@include layout((
				gutter-position: before,
				columns: 4,
				gutters: 3/16,
				global-box-sizing: border-box
			));

		}

		.gallery-list-item{

			@include gallery(2 of 4);
			margin-bottom: gutter(4);
		}
	}

	.main-footer{

		@include clearfix;
		@include layout((
			gutter-position: inside,
			columns: 4,
			gutters: 3/8,
			global-box-sizing: content-box
		));
		
		/*background: $footer-bg-color;*/
		/*width:100%;*/

		.region{
			@include span(4);
			border-top: 1px solid #666;	
			margin-top: 100px;
		}

		.block-content{
			padding: 14px 0;
		}
	}

/* ==================================================================
## Modules
===================================================================== */

/* wrapper for all page content */
.container {

}

/* wrapper for menubar regions */
.menubar-wrapper {

	width:100%;
	position:fixed;
	top:0;
	left:0;
	z-index:100;
	height: $base-row-height;

	p, span, a{
		line-height: $base-row-height;
	}
}

	.menubar-header{
		/*background:darkgrey;*/
	}

	.menubar-content{
		/*background:grey;*/

	}

		#menubar-content-primary{
			/*display:none;*/
		}

		#menubar-content-secondary{
			p, span, a{
				text-align: right;
			}
		}


/* wrapper for content regions */
.main-wrapper {
	
	background:white;

		.views-field{
			margin: $base-row-pad 0;
		}

		.views-field-title { 
			margin: $base-row-pad 0;
		}

		.block-title, { 
			margin: $base-row-pad 0;
		}

		.slidetitle { 
			margin: $base-row-pad 0;
		}

		.views-field-body p{
			margin: $base-row-pad 0;
		}

}

	.main-header {

		/*padding: $base-row-pad 0;*/
		height: $base-row-height;
		margin-top:142px;
		

		p, span, a{
			line-height: $base-row-height;
		}
	}

		#main-content-header-left{

			/*background: lightgrey;*/
		}

		#main-content-header-right{

			/*background: grey;*/

			p, span, a{
				text-align: right;
			}
		}

	.main-content {
		
	}

	#main-content-slideshow{

		/* override */
		.views-field{
			margin: 0;
		}

		.slide-title {
			height: base-row-height;
		}

		.arrow {
			height: base-row-height;
			text-align: right;
		}

		.slide-title a {
			line-height: $base-row-height;
		}

		.arrow a {
			line-height: $base-row-height;
		}

		.slide-controls{
			height: $base-row-height;
		}

		.slide-controls span{
			line-height: $base-row-height;
		}

	}

	#main-content-primary{

		.block{
			/*border-top: 1px solid #999;*/	
		}	

		.views-row {
			border-top: 1px solid #e1e1e1;
		}

		/* recent news temp overrides */
		#block-open-scratch-views-block-recent-news-block-1{ 
			
			border-top: 1px solid #999;

			.views-row {
				border-top: none;
			}
		}

	}

	
	#main-content-relations{

		.block{
			/*padding: 14px 0;*/
			border-top: 1px solid #666;	
		}	

	}

	#main-content-facts{

		.region{
			border-top: 1px solid #666;	
		}	

		.block{

			background:#f3f3f3;
		}

	}
	

	#main-content-gallery{

		.region {
	
		}
		
		.gallery-list{

		}

		.gallery-list-item{

			background:#999;
		}
	}

	.main-footer{

		.region{
			border-top: 1px solid #666;	
			margin-top: 100px;
		}

		.block-content{
			padding: 14px 0;
		}
	}
