/* ==================================================================
## Grid
===================================================================== */
/*

$susy: (
  flow: rtl | ltr*
  	ltr - Layout elements will flow from left to right.
  	rtl - Layout elements will flow from right to left.
  math: fluid* | static
  	fluid - grid spans will be calculated relative to the container, and output as % values.
  	static - grid values will be calculated as multiples of the column-width setting.
  output: float | isolate
  gutter-position: after,
  container: auto,
  container-position: center,
  columns: 4,
  gutters: .25,
  column-width: false,
  global-box-sizing: content-box,
  last-flow: to,
  debug: (
    image: hide,
    color: rgba(#66f, .25),
    output: background,
    toggle: top right,
  ),
  use-custom: (
    background-image: true,
    background-options: false,
    box-sizing: true,
    clearfix: false,
    rem: true,
  )
);

*/

/* GLOBAL SUSY SETTINGS */

$susy: (
  /*flow: ltr,*/
  /*math: fluid,*/
  output: float,
  gutter-position: inside,
  /*container: auto,*/
  /*container-position: center,*/
  columns: 12, /*4,*/
  gutters: 36/8, /*3/8,*/
  /*column-width: false,*/
  global-box-sizing: border-box
  /*last-flow: to,*/
  /*debug: (
    image: show-columns,
    color: rgba(#AEEFF2, .15),
    output: overlay,
    toggle: top right,
  )*/
  /*use-custom: (
    background-image: true,
    background-options: false,
    box-sizing: true,
    clearfix: false,
    rem: true,
  )*/
);


/* ==================================================================
## Grid
===================================================================== */

/* wrapper for all page content */
.container {
	height:100%;

	/*position: relative;*/

	@include container;

	@include max-width {
		width:1200px;
	}
}

/* wrapper for menubar regions */
.sidebar-wrapper {

	z-index:			100;
	background:			white;
	
	@include tiny {
		display:		none;
	}

	@include mobile {
		display:		none;
	}

	@include narrow {
		display:		none;
	}

	@include wide {

		@include span(3 of 12);

		position:		fixed;
		/*width: 			200px;*/
		height: 		100%;
		/*padding-top:	200px;*/
		top:			0;
		left:			0;
		/*left:			20px;*/
		border-right:	1px solid #f5f5f5;
	}

	@include wider {

		@include span(3 of 12);

		position:		fixed;
		/*width: 			200px;*/
		height: 		100%;
		/*padding-top:	200px;*/
		top:			0;
		left:			0;
		/*left:			20px;*/
		border-right:	1px solid #f5f5f5;
	}

	@include max-width {
		
	}

}


/* wrapper for content regions */
.main-wrapper {
	min-height: 100%;
	display: flex;
  	flex-direction: column;

	

	padding-top:200px;
	background:white;
	position: relative;

	@include wide {
		/*margin-left: 250px;*/
		margin-left: span(3 of 12);
		/*@include span(9 of 12);*/
		width: span(9 of 12 wide);
	}

	@include wider {
		/*margin-left: 250px;*/
		margin-left: span(3 of 12);
		/*@include span(9 of 12);*/
		width: span(9 of 12 wide);
	}

	main {
		margin-bottom: 140px;
	}

}

	/* wrapper for menubar regions */
	.menubar-wrapper {

		/*margin-top:142px;*/
		background:white;
		position: fixed;

		@include wide {
			/*margin-left: 250px;*/
			margin-left: span(3 of 12);
			/*@include span(9 of 12);*/
			width: span(9 of 12 wide);
		}

		@include wider {
			/*margin-left: 250px;*/
			margin-left: span(3 of 12);
			/*@include span(9 of 12);*/
			width: span(9 of 12 wide);
		}

		z-index:			100;
		background:			white;
		/*position:			absolute;*/
		width: 				100%;
		top:				0;
		left:				0;

}

	.toolbar {
		/*@include span(4);*/

		/*@include layout($susy);*/
		@include layout((
			gutter-position: inside,
			columns: 4,
			gutters: 3/8,
			global-box-sizing: border-box
		));
		
	}

		.toolbar-left{
			@include span(2 of 4);
			float:left;
		}

		.toolbar-right{
			@include span(2 of 4 last);
			float:right;
		}

	.main-content {
		
	}

	#main-content-slideshow{

		/*@include layout($susy);*/
		@include layout((
			gutter-position: inside,
			columns: 4,
			gutters: 3/8,
			global-box-sizing: border-box
		));

		.slides {
			@include span(4);
			
		}

		.slide-controls{
			@include span(4);
		}

	}

	#main-content-primary{

		/*@include layout($susy);*/
		@include layout((
			gutter-position: inside,
			columns: 4,
			gutters: 3/8,
			global-box-sizing: border-box
		));

		@include span(4);
	}

	#main-content-primary {

		.card, .statement {
			
		}

		/* recent news temp overrides */
		#block-open-scratch-views-block-recent-news-block-1{ 
			
			border-top: 1px solid grey;

			.views-row {
				border-top: none;
			}
		}

	}

	/* adsf */
	#main-content-relations{

		/*@include layout($susy);*/
		@include layout((
			gutter-position: inside,
			columns: 4,
			gutters: 3/8,
			global-box-sizing: border-box
		));

		@include span(4);
		@include clearfix;

		.block{
			/*padding: 14px 0;*/
			border-top: 1px solid #666;	
		}	

	}


	#main-content-facts{

		/*@include layout($susy);*/
		@include layout((
			gutter-position: inside,
			columns: 4,
			gutters: 3/8,
			global-box-sizing: border-box
		));

		@include span(4);
		@include clearfix;

		.region{
			border-top: 1px solid #e5e5e5;	
		}	

	}

	#main-content-gallery{

		@include clearfix;

		@include layout((
			gutter-position: inside,
			columns: 4,
			gutters: 3/8,
			global-box-sizing: border-box
		));

		.region {
			@include span(4);		
		}
		
		.gallery-list{

			@include clearfix;
			@include layout((
				gutter-position: before,
				columns: 4,
				gutters: 3/16,
				global-box-sizing: border-box
			));

		}

		.gallery-list-item{

			@include gallery(2 of 4);
			margin-bottom: gutter(4);
		}
	}

	/* wrapper for menubar regions */
	.footer-wrapper {

		z-index:			100;
		background:			white;
		

		@include mobile {
			/*display:		none;*/
		}

		@include narrow {
			/*display:		none;*/
		}

		@include wide {

			/*display:		none;*/
		}

	}

	main{flex: 1;}

	footer.main-footer{

		

		@include clearfix;
		@include layout((
			gutter-position: inside,
			columns: 4,
			gutters: 3/8,
			global-box-sizing: content-box
		));
		
		.footer__top{

			border-top: 1px solid #666;

			@include wide {
				display:		none;
			}
			@include wider {
				display:		none;
			}
			
			height:			$base-row-height;
			line-height: 	$base-row-height;
			/*@include span(4);*/
		}

		.footer__top-left{
			/*height:			inherit;*/
			display:		inline-block;
			@include 		span(2 of 4);
			/*float:			left;*/
			vertical-align: middle;

		}

		.footer__top-right{
			/*height:			inherit;*/
			display:		inline-block;
			@include 		span(2 of 4 last);
			/*float:			right;*/
			vertical-align: middle;
			/*white-space:    nowrap;*/
		}

		.footer__middle{

			@include wide {
				display:		none;
			}

			@include wider {
				display:		none;
			}

			@include span(4);
				
			/*margin-top: 140px;*/
			padding-top: 140px;
			padding-bottom: 140px;
		}

		.footer__bottom {

			@include span(4);

			/*border-top:		1px solid #e1e1e1;*/
		}

/*		.block-content{
			padding: 14px 0;
		}*/
	}

/* ==================================================================
## Modules
===================================================================== */

/* wrapper for all page content */
.container {

}


/* wrapper for content regions */
.main-wrapper {
	
	

		/*.views-field{
			margin: $base-row-pad 0;
		}

		.views-field-title { 
			margin: $base-row-pad 0;
		}

		.block-title, { 
			margin: $base-row-pad 0;
		}

		.views-field-body p{
			margin: $base-row-pad 0;
		}*/

}


.main-footer{

	/*.region{
		border-top: 1px solid #666;	
		margin-top: 100px;
	}*/

	/*.block-content{
		padding: 14px 0;
	}*/
}
