/* =======================================================================
## ++ Media Queries
========================================================================== */

/* 
    Used for media queries. 
    Add these mixins in your normal scss flow.
    
    Eg.
    .container{
        width:1024px;
        
        @include tablets{
            width:90%;
        }
    }

    Make sure these match breakpoints in open_scratch.breakpoints.yml !!! 
*/ 

@mixin tiny{
    @media all and (max-width: 350px){ @content; }
}
@mixin mobile{
    @media all and (min-width: 351px) and (max-width: 559px){ @content; }
}
@mixin narrow{
    @media all and (min-width: 560px) and (max-width: 750px){ @content; }
}
@mixin wide{
    @media all and (min-width: 751px) and (max-width: 960px){ @content; }
}
@mixin wider{
    @media all and (min-width: 961px){ @content; }
}
@mixin max-width{
    @media all and (min-width: 1200px){ @content; }
}

@mixin table-1-col{
    @media all and (max-width: 350px){ @content; }
}
@mixin table-2-col{
    @media all and (min-width: 351px) and (max-width: 550px){ @content; }
}
@mixin table-3-col{
    @media all and (min-width: 551px) and (max-width: 650px){ @content; }
}
@mixin table-4-col{
    @media all and (min-width: 651px) and (max-width: 850px){ @content; }
}
@mixin table-5-col{
    @media all and (min-width: 851px){ @content; }
}

/* =======================================================================
## ++ Unit transform
========================================================================== */

/*  
    Used for making containers have width in percentages. 
    Usage: define elemnt width in px and the width of parent elemnt in px. 
    eg. .block{width:cp(512px, 1024px)} this will result in .block{width:50%;}   
*/

@function cp($target, $container) {
    @return ($target / $container) * 100%;
}

/*  
    Used for making px values convert to rem values
    Usage: define font-size in px and it will convert to rems
    eg. font-size: rem(14px);
*/

@function rem($target, $context: $base-font-size) {
   @if $target == 0 { @return 0 }
   @return $target / $context + 0rem;
}
$base-font-size:16px;

/* =======================================================================
## ++ Clearfix
========================================================================== */

@mixin clearfix {
  &:after {
    content: ""; 
    display: table;
    clear: both; 
  }
}

/* =======================================================================
## ++ Grid
========================================================================== */

@mixin grid-minor-4col {

    @include clearfix;
    @include layout((
        gutter-position: before,
        columns: 4,
        gutters: 3/16,
        global-box-sizing: border-box
    ));

}

/* =======================================================================
## ++ Gallery old
========================================================================== */

@mixin gallery-list {
  
    @include layout((
        gutter-position: before,
        columns: 4,
        gutters: 3/16,
        global-box-sizing: border-box
    ));

}

@mixin gallery-list-item {

    @include gallery(2 of 4);
    margin-bottom: gutter(4);
}

/* =======================================================================
## ++ Gallery new
========================================================================== */

@mixin gallery-container {

    @include layout((
        gutter-position: before,
        columns: 12,
        gutters: 1/2, 
        global-box-sizing: border-box
    ));

}

/*@mixin gallery-container-1-col {

    @include layout(12 1 before border-box, true);
}

@mixin gallery-container-2-col {

    @include layout(12 1 before border-box, true);
}

@mixin gallery-container-3-col {

    @include layout(12 1/2 before border-box, true);
}

@mixin gallery-container-4-col {

    @include layout(12 1/2 before border-box, true);
}*/


@mixin gallery-item-1-col {

    @include gallery(12 of 12);
    margin-bottom: gutter(12);
}

@mixin gallery-item-2-col {

    @include gallery(6 of 12);
    margin-bottom: gutter(12);
}

@mixin gallery-item-3-col {

    @include gallery(4 of 12);
    margin-bottom: gutter(12);
}

@mixin gallery-item-4-col {

    @include gallery(3 of 12);
    margin-bottom: gutter(12);
}

