/*
 * Relations Component (Block view)
 *
 * LAYOUT:
 *
 * relations--header
 * relations--header-left
 * relations--header-right
 * relations--gallery
 * relations--gallery-list (ul)
 * relations--gallery-item (li)
 *
 * CONTENT:
 *
 * relations--title (h2)
 *
 *
 */


	

/* ==================================================================
## Layout
===================================================================== */

#main-content-relations {}

	.relations-header {}

		.relations-header-left {

			margin: $base-row-pad 0;
		}

		.relations-header-right {}

	.relations-gallery {}

		/*@mixin gallery-list{

		    @include clearfix;
		    @include layout((
		        gutter-position: before,
		        columns: 4,
		        gutters: 3/16,
		        global-box-sizing: border-box
		    ));

		}

		@mixin gallery-list-item{

		    @include gallery(2 of 4);
		    margin-bottom: gutter(4);
		}*/

		/*ul*/.relations-list{

			@include gallery-list;
		}

		/*li*/.relations-list-item{

			@include gallery-list-item;
			/*background:#999;*/
		}




/* ==================================================================
## Theme
===================================================================== */

/*h2*/.relations-title{

	@include base-title;

	font-size: $blocktitle-font-size;
	line-height: $blocktitle-line-height;
	color: $blocktitle-font-color;	
}