

.border-bottom-hairline {
	border-bottom: 1px solid #f1f1f1;
}

.border-top-hairline {
	border-top: 1px solid #f1f1f1;
}

.border--top-grey {
	border-top: 1px solid grey;
}

.border--top-ltgrey {
	border-top: 1px solid lightgrey;
}

