

.border-bottom-hairline {
	border-bottom: 1px solid #f1f1f1;
}

.border-top-hairline {
	border-top: 1px solid #f1f1f1;
}

.border-top2-hairline {
	border-top: 1px solid #f1f1f1;

	&:nth-last-child(1) {
		border-bottom: 1px solid #f1f1f1;
	}
}

.border--top-grey {
	border-top: 1px solid grey;
}

.border--bottom-grey {
	border-bottom: 1px solid grey;
}

.border--bottom-ltgrey {
	border-bottom: 1px solid lightgrey;
}

.border--top-ltgrey {
	border-top: 1px solid lightgrey;
}

.border--right-ltgrey {
	border-right: 1px solid #f5f5f5;
}

.collapse-first-pad > p {

	&:nth-child(1) {
		padding-top:	0;
		margin-top:		0;
	}
}

.bg--white {

	background: white;
}

.hide {

	display: none;
}

/*.show-on-widest {

	display: none;
	@include widest { display: inherit; }
}*/

.inline-block {
	display: 			inline-block;
}

.nudge--left 	{ padding-left:  $base-horiz-nudge; }
.nudge--right 	{ padding-right: $base-horiz-nudge; }
.pad--left 		{ padding-left:  $base-horiz-pad; }
.pad--right 	{ padding-right: $base-horiz-pad; }
.step--left 	{ padding-left:  $base-horiz-step; }
.step--right 	{ padding-right: $base-horiz-step; }


.space 			{ margin: $base-spacing 0; }
.space--less 	{ margin: $base-spacing-sml 0; }
.space--more 	{ margin: $base-spacing-big 0; }

.clr-margin--top	{ margin-top: 0; }
.clr-margin--bottom	{ margin-bottom: 0; }

/*$base-row1-height: 		3.75rem; 
$base-row2-height: 		3.75rem; 
$base-row3-height: 		2.75rem; 
$base-button-height:	2.75rem; 
$base-icon-height:		1rem; 
$base-spacing: 			1.25rem;
$base-spacing-sml: 		1.0rem;
$base-spacing-big: 		1.5rem;*/

.position--bottom 	{ position: absolute; bottom: 0; }
.position--top 		{ position: absolute; top: 0; }

.line-clamp > p {

	display: block; /* Fallback for non-webkit */
	display: -webkit-box;
	/*max-width: 400px;*/
	/*height: $font-size*$line-height*$lines-to-show;*/ /* Fallback for non-webkit */
	/*margin: 0 auto;*/
	/*font-size: $font-size;
	line-height: $line-height;*/
	width: 100%;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;

}

$buffer-size-top: 		12.5rem; /*200px;*/
$buffer-size-bottom:	8.75rem; /*140px;*/

@include tiny {
	.buffer--main-top 		{ padding-top:		$base-row2-height; }
	.buffer--main-bottom 	{ padding-bottom:	$buffer-size-bottom; }
	.buffer--side-top 		{ padding-top:		$base-row2-height; }
}
@include mobile {
	.buffer--main-top 		{ padding-top:		$base-row1-height *3; }
	.buffer--main-bottom 	{ padding-bottom:	$buffer-size-bottom; }
	.buffer--side-top 		{ padding-top:		$base-row1-height *3; }
}
@include narrow {
	.buffer--main-top 		{ padding-top:		$base-row1-height *3; }
	.buffer--main-bottom 	{ padding-bottom:	$buffer-size-bottom; }
	.buffer--side-top 		{ padding-top:		$base-row1-height *3; }
}
@include wide {
	.buffer--main-top 		{ padding-top:		$base-row1-height *3; }
	.buffer--main-bottom 	{ padding-bottom:	$buffer-size-bottom; }
	.buffer--side-top 		{ padding-top:		$base-row1-height *3; }
}
@include wider {
	.buffer--main-top 		{ padding-top:		$base-row1-height *2; }
	.buffer--main-bottom 	{ padding-bottom:	$buffer-size-bottom; }
	.buffer--side-top 		{ padding-top:		$base-row1-height *3; }
}
@include widest {
	.buffer--main-top 		{ padding-top:		$buffer-size-top; }
	.buffer--main-bottom 	{ padding-bottom:	$buffer-size-bottom; }
	.buffer--side-top 		{ padding-top:		$buffer-size-top + $base-row0-height; }
}

