/* ==================================================================
## defaults
===================================================================== */
$background-color: #fff;

$base-font-family: Helvetica, Arial, sans-serif;





/* ==================================================================
## Colors
===================================================================== */

/* constants */
$base-font-color: 			#333; /*#505050;*/
$lighter-font-color: 		#777;
$darker-font-color: 		#333;
$darker-font-color: 		#000;
$openorange-color: 			#ff9d00;
$opengrey-color: 			#888;
$link-font-color: 			#333; /*#777;*/ /*#98a6bc;*/

/* config */
$pagetitle-font-color: 		$darker-font-color;
$blocktitle-font-color: 	$darker-font-color;

/* config */
/* base */
$base-title-font-color: 	$darker-font-color;
$base-body-font-color: 		$base-font-color;
$base-tag-font-color: red;
$base-more-font-color: red;
$base-cell-font-color: red;
$base-icon-font-color: red;


/* slideshow */

$slide-icon-font-color: red;

/* manifesto */
$statement-title-font-color: red;
$statement-body-font-color: red;
$statement-more-font-color: red;

/* recent news */


$title-font-color: 			$darker-font-color;
$menu-font-color: 			$base-font-color;
$manifesto-font-color: 		$lighter-font-color;
$headline-font-color: 		$lighter-font-color;

$tags-font-color: 			#666;
$ts-font-color: 			#999;
$foot-font-color: 			$base-font-color;


$title-link-color: 			$title-font-color;

$menu-link-color: 			$menu-font-color;

$footer-bg-color: 			#333;



$table-title-font-color: 	$darker-font-color;
$table-font-color: 			$darker-font-color;


$manifesto-title-font-color: $darker-font-color;

$link-background-color:		#e5e5e5;


/* ==================================================================
## Fonts Size
===================================================================== */

$base-h1-font-size:			1.2em; /*	sitename			*/
$base-h2-font-size:			1.9em; /*	node titles 		*/
$base-h3-font-size:			1.1em; /*	secondary titles 	*/
$base-h4-font-size:			0.8em; /*	factsheet headers & headlines	*/
$base-h5-font-size:			0.8em; /*	factsheet multiline headers (ie. roles)		*/
$base-h6-font-size:			0.7em; /*	factsheet facts		*/

/* base */
$base-font-size: 			.9em;
$base-title-font-size: 		.9em;
$base-body-font-size: 		red;
$base-tag-font-size: 		red;
$base-more-font-size: 		red;
$base-cell-font-size: 		red;
$base-icon-font-size: 		red;

$sitename-font-size: 15px;
$icon-font-size: 14px;
$pagetitle-font-size: 12px;
$blocktitle-font-size: 12px;
/*$facttitle-font-size: 11px;*/
$title-font-size: 14px;
$jobtitle-font-size: 12px;

$events-headline-font-size: 12px;
$menu-font-size: 12px;
$manifesto-font-size: 1.0em;

$ts-font-size: 10px;




$table-title-font-size: 12px;


$manifesto-title-font-size: 14px;

$toolbar-font-size: 12px;


/* ==================================================================
## Fonts Line Heights
===================================================================== */
$base-line-height: 1.5;
$base-title-line-height: 1.2; /*16px;*/

$sitename-line-height: 16px;
$pagetitle-line-height: base-line-height;
$blocktitle-line-height: base-line-height;
$table-title-line-height: 12px;
$title-line-height: 12px;

$events-headline-line-height: 11px;

$ts-line-height: 7px;
$manifesto-line-height: 1.5;
$info-line-height: 14px;

$slide-caption-line-height: $base-line-height;

$manifesto-title-line-height: $base-title-line-height;

/* ==================================================================
## Padding
===================================================================== */

$base-row-height: 3.75em; /* (16px x .7em) x 3.75 = 42px; */
$base-row-pad: 16px;
$base-elem-spacing: 16px; /*this should be rem not em AND should be susy calculated gallery gutter*/
$base-title-spacing: 1.5em;
$base-pad-horiz: .25rem;

/* ==================================================================
## Buttons (icons, tags, dropdowns)
===================================================================== */

$base-button-pad-horiz:		1em;
$base-button-height:		2.75em;
$base-button-spacing:		0.5em;

/* ==================================================================
## Table
===================================================================== */

$table-row-height: $base-row-height;
$table-col1-width: 20%;
$table-col2-width: 70%;
$table-col3-width: 10%;

/* ==================================================================
## Grid
===================================================================== */

$total-cols             : 4;  
$col-width              : 162px;  
$gutter-width           : 40px;  
$side-gutter-width      : $gutter-width; 

