/* ==================================================================
 *
 * header
 *
 * 
 *
===================================================================== */

/* ==================================================================
## Config
===================================================================== */

$menubar-base-font-size:	1rem;
$menubar-wide-font-size:	.75em;
$menubar-row-height:		$base-row-height*1.2;
$menubar-width:				100%;

/* ==================================================================
## Layout
===================================================================== */

.main-header-wrapper {

	/*@include layout($susy);*/
	@include layout((
		gutter-position: 	inside,
		columns: 			4,
		gutters: 			3/8,
		global-box-sizing: 	border-box
	));

	@include span(full);
}

.main-header { /* media */ 

	background:blue;

	font-size: 				$menubar-base-font-size;
	line-height: 			$menubar-row-height;	
	height: 				$menubar-row-height;

	&__left { /* media__content */

		> .block {
			float: left;
		}
	}

	&__right { /* media_imgR */

		> .block {
			float: right;
		}
	}
}


/* ==================================================================
## Debug
===================================================================== */	

/*.menubar {

	border: 1px solid red;	
	
	&__header 		{	background: #f5f5f5;	}
	&__primary		{	background: #e5e5e5;	}
	&__secondary 	{	background: lightgrey;	}

}*/

