/* ==================================================================
 *
 * main
 *
 * 
 *
===================================================================== */

/* ==================================================================
## Config
===================================================================== */

$main-base-font-size:		1rem;

/* ==================================================================
## Layout
===================================================================== */

.main-content-wrapper {

	padding-top:200px;
	padding-bottom:140px;

	/* flex main to fill vertical space for sticky footer */
	flex: 1;

	/*@include layout($susy);*/
	@include layout((
		gutter-position: 	inside,
		columns: 			12, 
		gutters: 			2,
		global-box-sizing: 	border-box,
		debug: (
		    image: show-columns,
		    color: rgba(#AEEFF2, .15),
		    output: overlay,
		    toggle: bottom right,
	    )
	));

	
}



	


.main-content { 

	font-size: 				$main-base-font-size;

	&__header { @include span(full); }
 
	&__gallery { @include span(full); }

	&__slideshow {

		@include wide { @include span(full); }
		@include wider { @include span(full); }
	}

	&__primary { @include span(full); }
	&__relations { @include span(full); }
	&__facts { @include span(full); }

	/*@include wider {

		&__slideshow { @include span(9 of 12); }
		&__primary { @include span(9 of 12); }
		&__relations { @include span(9 of 12); }
		&__facts { @include span(9 of 12); }
	}*/
}


/* ==================================================================
## Debug
===================================================================== */	

/*.menubar {

	border: 1px solid red;	
	
	&__header 		{	background: #f5f5f5;	}
	&__primary		{	background: #e5e5e5;	}
	&__secondary 	{	background: lightgrey;	}

}*/