/* ==================================================================
## Config
===================================================================== */

$ribbon-base-font-size:		1rem;
$ribbon-height:				$base-row2-height;

/* ==================================================================
## 
===================================================================== */

.ribbon-wrapper {

}

.ribbon {

	/* apply global icon sizing, change to px to make size non-responsive */
	/*font-size:					$ribbon-base-font-size;*/

	/*height: 					$ribbon-height;
	line-height:  				$ribbon-height;*/
	overflow: 					hidden;
	height: inherit;
	line-height: inherit;

	&__segments {

		/* handle item overflow here*/
	}

		&__segment {

			float:						right; /* fill container right to left */
		}

		&__segment--left {

			float:						left; /* fill container right to left */
		}

		&__segment--center{

			float:						none; /* fill container right to left */
			text-align: 				center;
		}
}

/* width */
.w--100p {width: 100%;}
.w--95p {width: 95%;}
.w--90p {width: 90%;}
.w--85p {width: 85%;}

.ribbon--sml {

	/*font-size:					.9rem;*/
	height: 					$base-row3-height;
	line-height:  				$base-row3-height;
	
}

.ribbon--med {

	/*font-size:					1rem;*/
	height: 					$base-row2-height;
	line-height:  				$base-row2-height;
}

.ribbon--big {

	/*font-size:					1rem;*/
	height: 					$base-row1-height;
	line-height:  				$base-row1-height;	
}

.ribbon--bigr {

	/*font-size:					1rem;*/
	height: 					$base-row0-height;
	line-height:  				$base-row0-height;	
}

.ribbon--dbl {

	/*font-size:					1rem;*/
	height: 					$base-row2-height *2;
	line-height:  				$base-row2-height *2;	
}






