/* ==================================================================
 *
 * Toolbar
 *
 * Toolbar is a layout class - it is concerned with setting 
 * font-size, relative fixed height, and width of toolbar within
 * region.
 *
===================================================================== */

/* ==================================================================
## Config
===================================================================== */

/*$toolbar-base-font-size:	$h4-font-size;*/
/*$toolbar-height:			$tbar-height;*/

/* ==================================================================
## Layout
===================================================================== */

.toolbar-wrapper {
 	
	pointer-events: 	none;

	a,
	.ribbon__segment  { 
		
		pointer-events: visible; 
	}

	@include widest	{ 
		padding-left: gutter(13);
		padding-right: gutter(13);
		clear: left;
		float: none;  
	} 
}

.toolbar {

	font-size: 			$tbar-font-size;
	position:			relative;
	height:				0;
}

	.toolbar-contents,
	.toolbar-toggle {

		/* clearfix to prevent header region collapse w/out overflow hidden b/c that would clip dropdown menu */
		@include clearfix;
	
		position:			absolute;
		top:				-$tbar-height;
		width:				100%;	
		height: 			$tbar-height;
		line-height: 		$tbar-height;

	}

	.toolbar-contents {

		top: -$tbar-height;

		border-top: 1px solid $tbar-bd-color;
		border-bottom: 1px solid $tbar-bd-color;
	}

	.toolbar-toggle{

		top: -$tbar-height;

		border-bottom: 1px solid $tbar-bd-color;
	}

.toolbar.invert {

	.toolbar-contents {

		border-top: 1px solid $tbar-bd-color-inv;
		border-bottom: 1px solid $tbar-bd-color-inv;
	}

	.toolbar-toggle{

		border-bottom: 1px solid $tbar-bd-color-inv;
	}
}


/* ==================================================================
## Type
===================================================================== */

/*.toolbar {

	h1, h2, h3, p, span, a, a:link, a:visited {
		font-size: $toolbar-font-size;
		font-weight: heavy;
		line-height: $pagetitle-line-height;
		color: $pagetitle-font-color;
		text-transform: uppercase;
		text-decoration:none;
	}

	a:hover{

		text-decoration: underline;
	}
}*/

/* ==================================================================
## Debug
===================================================================== */
