/* ==================================================================
 *
 * Toolbar
 *
 * Toolbar is a layout class - it is concerned with setting 
 * font-size, relative fixed height, and width of toolbar within
 * region.
 *
===================================================================== */

/* ==================================================================
## Config
===================================================================== */

/*$toolbar-base-font-size:	$h4-font-size;*/
$toolbar-height:			$tbar-height;

/* ==================================================================
## Layout
===================================================================== */

.toolbar-wrapper,
.toolbar-toggle-wrapper {

	/*z-index: -100000;*/
	position:			relative;
	/*@include 			layout($grid-4col);
	@include 			span(4);*/

	/*@include wider  { @include span(first 7 of 9.5 wide); }*/
	pointer-events: none;
	a,
	.ribbon__segment,
	.ribbon__segment--left,
	.ribbon__segment--right { 
		pointer-events: visible; 
	}	
}

.toolbar,
.toolbar-toggle {

	@include widest	{ 
		padding-left: gutter(13);
		padding-right: gutter(13);
		clear: left;
		float: none;  
	} 

		/* clearfix to prevent header region collapse w/out overflow hidden b/c that would clip dropdown menu */
	@include clearfix;

	font-size: 			$tbar-font-size; /*$toolbar-base-font-size;*/	
	height: 			$toolbar-height;
	text-transform:  	uppercase;
	line-height: 		$toolbar-height;
	position:			absolute;
	top:				-$toolbar-height;
	width:				100%;	

	/*background: whitesmoke;*/
}

.toolbar-screen {

		/* clearfix to prevent header region collapse w/out overflow hidden b/c that would clip dropdown menu */
	@include clearfix;
	
	height: 			$toolbar-height;
	line-height: 		$toolbar-height;
	position:			absolute;
	top:				0;
	width:				100%;	

	/*z-index: -10000;*/
	/*background: white;*/

}

/* ==================================================================
## Type
===================================================================== */

/*.toolbar {

	h1, h2, h3, p, span, a, a:link, a:visited {
		font-size: $toolbar-font-size;
		font-weight: heavy;
		line-height: $pagetitle-line-height;
		color: $pagetitle-font-color;
		text-transform: uppercase;
		text-decoration:none;
	}

	a:hover{

		text-decoration: underline;
	}
}*/

/* ==================================================================
## Debug
===================================================================== */
