/* ==================================================================
 *
 * Toolbar
 *
 * Toolbar is a layout class - it is concerned with setting 
 * font-size, relative fixed height, and width of toolbar within
 * region.
 *
===================================================================== */

/* ==================================================================
## Config
===================================================================== */

$toolbar-base-font-size:	.75rem;
$toolbar-height:			$base-row2-height;


/* ==================================================================
## Layout
===================================================================== */

.toolbar-wrapper{

	position:			relative;
	/*@include 			layout($grid-4col);
	@include 			span(4);*/
}

.toolbar {

	font-size: 			$toolbar-base-font-size;	
	height: 			$toolbar-height;
	line-height: 		$toolbar-height;
	position:			absolute;
	top:				-$toolbar-height;
	width:				100%;	

}

/* ==================================================================
## Type
===================================================================== */

/*.toolbar {

	h1, h2, h3, p, span, a, a:link, a:visited {
		font-size: $toolbar-font-size;
		font-weight: heavy;
		line-height: $pagetitle-line-height;
		color: $pagetitle-font-color;
		text-transform: uppercase;
		text-decoration:none;
	}

	a:hover{

		text-decoration: underline;
	}
}*/

/* ==================================================================
## Debug
===================================================================== */
