<div class="icons">
	<div class="icon--container">
		<a href="{{ projects_gallery_path }}" rel="keep-params" class="icon testy icon--smlr icon--fa"><i class="fa fa-th-large" aria-hidden="true"></i></a>
		<a href="{{ projects_table_path }}" rel="keep-params" class="icon icon--smlr icon--fa"><i class="fa fa-bars" aria-hidden="true"></i></a>
		{# <a href="{{ projects_teasers_path }}" class="icon icon--smlr icon--fa"><i class="fa fa-th-list" aria-hidden="true"></i></a> #}
	</div>
</div>