<div class="block menu-toggler">
	<div class="block-content icons">
	  <div class="icon--container">
	    {# <div class="icon"><a class="icon slider-toggler"><i class="fa fa-bars" aria-hidden="true"></i></a></div> #}
	    <a class="icon slider-toggler"><i class="fa fa-bars" aria-hidden="true"></i></a>
	  </div>
	</div>
</div>
