<div class="icons">
	<div class="icon--container">
		<a class="icon icon--smlr icon--fa"><i class="fa fa-th-large" aria-hidden="true"></i></a>
		<a class="icon icon--smlr icon--fa"><i class="fa fa-bars" aria-hidden="true"></i></a>
		<a class="icon icon--smlr icon--fa"><i class="fa fa-th-list" aria-hidden="true"></i></a>
	</div>
</div>