<div id="youku-playerBox" style="width:100%;height:500px"></div>
<script type="text/javascript" src="//player.youku.com/jsapi"></script>
<script type="text/javascript">
var player = new YKU.Player('youku-playerBox',{
styleid: '0',
client_id: '17ef1892ecbd1f6e',
vid: 'XMjc4NDkyNDE4NA==',
//newPlayer: true
});
</script>