<div class="block menu-toggler">
	<div class="block-content icons">
	  <div class="icon--container">
	    {# <div class="icon"><a class="icon slider-toggler"><i class="fa fa-bars" aria-hidden="true"></i></a></div> #}
	    {# <a class="icon icon--fa icon--inv icon--bigr icon--button-big slider-toggler"><i class="fa fa-bars" aria-hidden="true"></i></a> #}
	    <a class="icon icon--mat icon--inv icon--bigr icon--button-big z--front slider-toggler">
	    	<i class="material-icons">menu</i>
	    </a>
	  </div>
	</div>
</div>
